<% provide(:title, "change password") %>

<h3 class="page-title">change password</h3>

<%= form_for( @user, url: password_reset_path(params[:id])) do |f| %>
	<%= hidden_field_tag :email, @user.email %>

	<p>
		New <%= f.label :password %>
		<%= f.text_field :password %>
	</p>

	<p>
		New <%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %>
	</p>	

	<p>
		<button class="normal" type="submit">submit</button>
	</p>
	
<% end %>