<%= form_for @blip do |f| %>
	<% x = @blip.x.present? ? @blip.x : params[:x] %>
	<% y = @blip.y.present? ? @blip.y : params[:y] %>

	<%= f.hidden_field :x, value: x %>
	<%= f.hidden_field :y, value: y %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>

	<p style="margin-top: 30px;">
		<button name="commit" class="normal" type="submit">save</button>
	</p>
<% end %>