<div class="container">
	<!-- Blip title images body -->
	<div id="dm-content-container" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="blip-content" data-blip="<%= @blip.id %>">

			<%= form_for @blip, html: { multipart: true } do |f| %>
				<% x = @blip.x.present? ? @blip.x : params[:x] %>
				<% y = @blip.y.present? ? @blip.y : params[:y] %>

				<%= f.hidden_field :x, value: x %>
				<%= f.hidden_field :y, value: y %>

				<% if @blip.blip_images.any? %>
					<!-- carousel -->
					<div class="form-blip-images">
						<div id="images-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
							  <% @blip.blip_images.each_with_index do |image, i| %>
							    <div class="item <%= 'active' if i == 0 %>">
							      <%= image_tag image.image %>
							    </div>
							  <% end %>

							  <% if @blip.blip_images.count > 1 %>
						    	<!-- Indicators -->
						    	<ol class="carousel-indicators">
						    	  <% @blip.blip_images.count.times do |b| %>
						    	    <li data-target="#images-carousel" data-slide-to="<%= b %>" class="active"></li>
						    	  <% end %>
						    	</ol>

							    <!-- Controls -->
							    <a class="left carousel-control" href="#images-carousel" role="button" data-slide="prev">
							      <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
							      <span class="sr-only">Previous</span>
							    </a>
							    <a class="right carousel-control" href="#images-carousel" role="button" data-slide="next">
							      <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
							      <span class="sr-only">Next</span>
							    </a>
						    <% end %>
							</div>
						</div>

						<span class="normal add-photo" style="margin: 35px 0 35px 3%;" data-photo-index="0"><i class="fa fa-plus"></i> photo</span>
					</div>
				<% else %>
					<h4 class="blip-title" style="width:35%;" data-photo-index="0">add photos</h4><br> 

					<span class="normal add-photo" style="margin: 0 0 35px 3%;"><i class="fa fa-plus"></i> photo</span>
				<% end %>
				<h4 class="blip-title" style="float:left;margin-top:-4px">Title</h4>
				<%= f.text_field :title %><br>

				<h4 class="blip-title" style="display:inline; float:left;margin-top:0">Description</h4>
				<%= f.text_area :body %>
				
				<p style="margin: 30px 0 0 3%">
					<button name="commit" class="normal" type="submit">save</button>
				</p>
			<% end %>
		</div>
	</div>

	<div id="dm-legend" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="map-container">
			<span class="normal edit-location" style="margin: 0 auto 5%;">edit location</span>

			<div id='map'></div>
			<script type="text/javascript">
				var blips = [];
				var blipImages = [];

				<% @blip.blip_images.each do |blip_image| %>
					blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
				<% end %>
				<% if action_name == "new" %>
					var driftmap = {
						init_x: 40.735,
						init_y: -73.890,
						init_zoom: 10,
					}
				<% else %>
					var driftmap = {
						init_x: '<%= @blip.x %>',
						init_y: '<%= @blip.y %>',
						init_zoom: 10,
					}

					blips.push({
						id: 		"<%= @blip.id %>",
						x: 			"<%= @blip.x %>",
						y: 			"<%= @blip.y %>",
						title: 	"<%= @blip.title.to_json %>",
						body: 	"<%= @blip.body.to_json %>",
						images: blipImages
					});
				<% end %>

				init_map('map', driftmap, blips);
			</script>
		</div>

		<%= link_to @blip, method: :delete, data: { confirm: "Are you Sure?" } do %>
			<span class="normal pull-right" style="margin: 4% 0 0" rel="nofollow" data-method="delete" data-confirm="Are you sure">delete</span>
		<% end %>
		<%= link_to user_path(current_user) do %>
			<span class="normal" style="margin: 4% 0 0">cancel</span>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		var photo_index = 0;
		$(document).on('click', '.add-photo', function(){
			$(this).data('photo-index', ++photo_index)
			var index = $(this).data('photo-index')
			var new_img = '<input class="blip-image" name="photo['+ index +']" accept="image/jpeg, image/gif, image/png, image/jpg" type="file" data-image="'+ index +'" style="margin: 6% 6% 5% 3%; width:100%;">';
			$('.add-photo').last().after(new_img);
		});

		// edit blip location
		$('span.edit-location').on('click', function(){
			/*if(window.width > 767){
				$('#map').addClass('expanded-map');
			}*/

			var b = window.blipMarker;
			b.dragging.enable();
			b.on('dragend', function(e){
				window.e = e;

				var lat = e.target.getLatLng().lat;
				var lng = e.target.getLatLng().lng;

				console.log("lat: " + lat);
				console.log("lng: " + lng);

				$('#blip_x').val(lat);
				$('#blip_y').val(lng);

			});

			// add event listener for when user is done dragging.

		});
	});
</script>