<%= form_for @blip, html: { multipart: true } do |f| %>
	<% x = @blip.x.present? ? @blip.x : params[:x] %>
	<% y = @blip.y.present? ? @blip.y : params[:y] %>

	<%= f.hidden_field :x, value: x %>
	<%= f.hidden_field :y, value: y %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>

	<% if @blip.blip_images.any? %>
	<div class="form-blip-images">
		<ul>
			<% @blip.blip_images.each do |image| %>
				<li><%= image_tag image.image %></li>
			<% end %>
		</ul>
	</div>
		<style type="text/css">
			.unslider {
				margin: 20px 0;
			}
			.unslider-arrow.prev{
				left: 0;
			}
		</style>

		<script type="text/javascript">
			$('.form-blip-images').unslider();
		</script>
	<% end %>
	
	<input class="normail blip-image-0" name="photo" accept="image/jpeg, image/gif, image/png, image/jpg" type="file" data-image="0">

	<p style="margin-top: 30px;">
		<button name="commit" class="normal" type="submit">save</button>
	</p>
<% end %>