<%= render 'blips/form' %>

<div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	<div class="map-container">
		<span class="normal edit-location" style="margin: 0 auto 5%;">edit location</span>

		<div id='map'></div>
		<script type="text/javascript">
			var blips = [];
			var blipImages = [];

			<% @blip.blip_images.each do |blip_image| %>
				blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
			<% end %>
			<% if action_name == "new" %>
				var driftmap = {
					init_x: 40.735,
					init_y: -73.890,
					init_zoom: 10,
				}
			<% else %>
				var driftmap = {
					init_x: '<%= @blip.x %>',
					init_y: '<%= @blip.y %>',
					init_zoom: 10,
				}

				blips.push({
					id: 		"<%= @blip.id %>",
					x: 			"<%= @blip.x %>",
					y: 			"<%= @blip.y %>",
					title: 	"<%= @blip.title.to_json %>",
					body: 	"<%= @blip.body.to_json %>",
					images: blipImages
				});
			<% end %>

			init_map('map', driftmap, blips);
		</script>
	</div>

	<%= link_to @blip, method: :delete, data: { confirm: "Are you Sure?" } do %>
		<span class="normal pull-right" style="margin: 4% 0 0" rel="nofollow" data-method="delete" data-confirm="Are you sure">delete</span>
	<% end %>
	<%= link_to user_path(current_user) do %>
		<span class="normal" style="margin: 4% 0 0">cancel</span>
	<% end %>
</div>