<h3 class="page-title">Welcome to the crew.</h3>

<% if @user.errors.any? %>
	<div class="errors">
		<h4>Whoops</h4>
		<ul class="errors-list">
			<% @user.errors.full_messages.each do |msg| %>
				<li><p><%= msg %></p></li>
			<% end %>
		</ul>
	</div>	
<% end %>

<%= form_for(@user) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>	

	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>	

	<p>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</p>	
	<p>
		<%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %>
	</p>	

	<p>
		<button class="normal" type="submit">sign me up</button>
	</p>
<% end %>