<h2>Welcome to the crew.</h2>

<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><p><%= msg %></p></li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@user) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>	

	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>	

	<p>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</p>	
	<p>
		<%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %>
	</p>	

	<p>
		<button class="normal" type="submit">Submit the fuck outta this button!!!</button>
	</p>
<% end %>