<% provide(:title, @user.name) %>
<div class="container">
	<div id="dm-content-container" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<% if @user.post.blips.any? %>
			<% @blips.each_with_index do |blip, index| %>
				<div class="blip-content <%= 'hidden' if index != 0 %>" data-blip="<%= blip.id %>">
					<!-- blip carousel -->
					<% if blip.blip_images.any? %>
					  <div id="images-carousel" class="carousel slide" data-ride="carousel">
					    <!-- Blip Photos -->
					    <div class="carousel-inner" role="listbox">
					      <% blip.blip_images.each_with_index do |image, i| %>
					        <div class="item <%= 'active' if i == 0 %>">
					          <%= image_tag image.image %>
					        </div>
					      <% end %>
					    </div>

					    <% if blip.blip_images.count > 1 %>
					    	<!-- Indicators -->
					    	<ol class="carousel-indicators">
					    	  <% blip.blip_images.count.times do |b| %>
					    	    <li data-target="#images-carousel" data-slide-to="<%= b %>" class="active"></li>
					    	  <% end %>
					    	  <script type="text/javascript">
					    	    $('li[data-target="#images-carousel"]').first().addClass('active')
					    	  </script>
					    	</ol>

						    <!-- Controls -->
						    <a class="left carousel-control" href="#images-carousel" role="button" data-slide="prev">
						      <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
						      <span class="sr-only">Previous</span>
						    </a>
						    <a class="right carousel-control" href="#images-carousel" role="button" data-slide="next">
						      <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
						      <span class="sr-only">Next</span>
						    </a>
						  <% end %>
					  </div><!-- end carousel -->
					<% end %>

					<!-- blip author title text  -->
					<div class="blip-info" data-blip="<%= blip.id %>">
					  <h4 class="blip-title">
					    <%= blip.title %>
					  </h4>

					  <p class="blip-body">
					    <%= blip.body %>
					  </p>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="start-new">
				<%= image_tag 'switzerland10.JPG' %>

				<div class="start-text">
					<%= link_to new_blip_path do %>
						<p>begin an new adventure now</p>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

	<div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="map-container">
			<div id='map'></div>
			<%= render 'driftmap/init_driftmap' %>
		</div>

		<div class="view-wizard-container">
		  <!-- blips -->
		  <div class="markers-container wizard-step">
		    <div class="wizard-markers">
		      <ul>
		        <% @user.post.blips.all.each do |blip| %>
		          <li class="blip" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>">
		            <p class="blip-title">
		              <%= blip.title %>
		              <% if user_is_home(@user) %>
		              	<%= link_to '<span style="font-style:italic;"> - edit</span>'.html_safe, edit_blip_path(blip) %>
		              <% end %>
		            </p>
		          </li>
		        <% end %>
		      </ul>
		    </div>
		  </div>

		  <% if user_is_home(@user) || admin_user %>
		  	<p class="edit-delete-map">
		  		<%= link_to 'new blip', new_blip_path %>
		  		<%#= link_to 'delete driftmap', @post, method: :delete, data: { confirm: "Are you sure?" } %>
		  	</p>
		  <% end %>
		</div>
	</div>
</div>

<hr style="width:84%; height: 3px;background-color: #ccc; margin: 0 auto 50px;">

<div class="container">
	<div class="map-details col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<h3 class="page-title post-title"><%= @post.title %><%= link_to '<span style="font-size: .48em; font-style:italic"> - edit driftmap</span>'.html_safe, edit_post_path(@post) if user_is_home(@user) %></h3>

		<p class="post-title"><%= @post.body %></p>
	</div>

	<div id="pro-parts-container" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="pro-part profile">
			<div class="profile-details-container">
				<div class="profile-details">
					<p><%= @user.name %></p>
					<%= image_tag @user.profile_pic, class: 'pp' if @user.profile_pic %>
					<div class="user-info">
						
						<% if @user.from %>
							<p class="user-from">from: </p>
							<p><%= @user.from %></p>
						<% end %>			

						<% if @user.gps %>
							<p class="user-gps">current location: </p>
							<p><%= @user.gps %></p>
						<% end %>
						
						<% if user_is_home(@user) || admin_user %>
							<p><%= @user.email %></p>
							<p><a class="edit-user-anchor">edit my info</a></p>
						<% end %>
					</div><div class="clear-fix"></div>

					<% if user_is_home(@user) || admin_user %>
						<div class="alter-user-container" style="display:none;">
							<%= form_for @user, html: { multipart: true } do |f| %>
								<p>
									<%= f.label 'profile picture' %>
									<%= f.file_field :profile_pic, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
								</p>
								<p>
									<%= f.label :name %>
									<%= f.text_field :name %>
								</p>

								<p>
									<%= f.label :email %>
									<%= f.text_field :email %>
								</p>							

								<p>
									<%= f.label :from, 'Where are you from?' %>
									<%= f.text_field :from %>
								</p>

								<p>
									<%= f.label :gps, 'Where are you currently?' %>
									<%= f.text_field :gps %>
								</p>

								<p>
									<%= f.label :password %>
									<%= f.password_field :password %>
								</p>

								<p>
									<%= f.label :password_confirmation %>
									<%= f.password_field :password_confirmation %>
								</p>
							
								<p>
									<button type="submit" name="commit" value="Create Post" class="normal" style="float:right">done</button>
									<span class="cancel-edit-user normal" style="float:right">cancel</span>
								</p>
							<% end %>
						</div>
					<% end %>
				</div>
			</div><!-- end profile info -->
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		// edit post
		$('a.edit-anchor').bind('click', function(){
			$('.alter-post-container').slideDown();
		});

		// cancel edit post
		$('.cancel-edit-post').on('click', function(){
			$('.alter-post-container').slideUp();
		});

		// edit profile info
		$('.edit-user-anchor').on('click', function(){
			$('.alter-user-container').slideDown();
			$('.profile-details-container').addClass('form-open');
		});

		// cancel edit user
		$('.cancel-edit-user').on('click', function(){
			$('.alter-user-container').slideUp();
			$('.profile-details-container').removeClass('form-open');
		});
	});
</script>

<script type="text/javascript">
  // reveal blip info
  $('.blip').on('click', function(){
    var active = $(this).hasClass('active');
    var blip_index = $(this).data('blip');
    $('.blip-content').addClass('hidden');
    $('.blip-content[data-blip="'+ blip_index +'"]').removeClass("hidden");

    if(active){
      $(this).removeClass('active');
    } else {
      $('.blip-info[data-blip="'+ blip_index +'"]').slideDown(700);
      $(this).addClass('active');
      var init_x = $(this).data('initx');
      var init_y = $(this).data('inity');
      window.map.setView([init_x, init_y]).setZoom(9);
    }
  });
</script>