<% if false %>
	<!-- Start new Adventure -->
	<div class="start-new">
	  <%= image_tag 'switzerland10.JPG' %>

	  <% if user_is_home(@user) %>
	    <div class="start-text">
	      <%= link_to new_journey_path do %>
	        <p>begin an new adventure now</p>
	      <% end %>
	    </div>
	  <% else %>
	    <div class="start-text">
	      <p>
	        <%= @user.name %> has not added any content yet.
	      </p>
	    </div>
	  <% end %>
	</div>
<% end %>

<% provide(:title, @user.name) %>

<div id="profile-page" class="container">
	<input id="user_id" type="hidden" value="<%= @user.id %>" >
	<%= '<input id="user_is_home" type="hidden" value="1">'.html_safe if user_is_home @user %>
	
	<!-- TIMELINEJS3 -->
	<div id="driftmap-timeline-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
		<!-- todo move this into DriftMapTimeline.js -->
		<% if @user.driftmap.journeys.any? %>
			<% @user.driftmap.journeys.each do |journey| %>
        <div class="journey-content" data-journeycontent="<%= journey.id %>">
          <h4 class="journey-header"><%= journey.title %></h4>
          <div id='dm-timeline-<%= journey.id %>' class="dm-timeline" style="width: 100%; height: 600px"></div>
          <div class="journey-meta">
            <p class="journey-description"><%= journey.description %></p>
            <%#= link_to '<span style="font-size: .77em; font-style: italic; color: #552727; float:right;"> - more'.html_safe, journey_path(journey) if journey.description.length > 80 %>
          </div>
        </div>
      <% end %>
    <% else %>
		  <div class="journey-content" data-journeycontent="-1">
		  	<%= link_to new_journey_path do %>
		    	<h4 class="journey-header">start my adventure</h4>
		    <% end %>
		    <div id='dm-timeline--1' class="dm-timeline" style="width: 100%; height: 600px"></div>
		  </div>
    <% end %>
  </div>

  <!-- LEAFLET & accordian -->
  <div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <div class="map-container">
      <div id='map'></div>
    </div>

    <div id="accordian-container">
      <h5 class="waypoints-title">journeys</h5>
      <div id="waypt-accord" class="panel-group" role="tablist" aria-multiselectable="true"></div>
      <%= link_to '<span style="font-size: 1em; margin-top:15px; float:right; font-style:italic"> - create new journey</span>'.html_safe, new_journey_path if user_is_home @user %>
    </div>
  </div><!-- End timeline, leaflet & accordian -->


	<div class="map-details col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<h3 class="page-title driftmap-title"><%= @driftmap.title %><%= link_to '<span style="font-size: .48em; font-style:italic"> - edit driftmap</span>'.html_safe, edit_driftmap_path(@driftmap) if user_is_home(@user) %></h3>

		<p class="driftmap-title"><%= @driftmap.body %></p>
	</div>

	<div id="pro-parts-container" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="pro-part profile">
			<div class="profile-details-container">
				<div class="profile-details">
					<p><%= @user.name %></p>
					<%= image_tag @user.profile_pic, class: 'pp' if @user.profile_pic.present? %>
					<div class="user-info">						
						<% if @user.from %>
							<p class="user-from">from: </p>
							<p><%= @user.from %></p>
						<% end %>			

						<% if @user.gps %>
							<p class="user-gps">current location: </p>
							<p><%= @user.gps %></p>
						<% end %>
						
						<% if user_is_home(@user) || admin_user %>
							<p><%= @user.email %></p>
							<p><a class="edit-user-anchor">edit my info</a></p>
						<% end %>
					</div><div class="clear-fix"></div>

					<% if user_is_home(@user) || admin_user %>
						<div class="alter-user-container" style="display:none;">
							<%= form_for @user, html: { multipart: true } do |f| %>
								<p>
									<%= f.label 'profile picture' %>
									<%= f.file_field :profile_pic, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
								</p>
								<p>
									<%= f.label :name %>
									<%= f.text_field :name %>
								</p>

								<p>
									<%= f.label :email %>
									<%= f.text_field :email %>
								</p>							

								<p>
									<%= f.label :from, 'Where are you from?' %>
									<%= f.text_field :from %>
								</p>

								<p>
									<%= f.label :gps, 'Where are you currently?' %>
									<%= f.text_field :gps %>
								</p>

								<p>
									<%= f.label :password %>
									<%= f.password_field :password %>
								</p>

								<p>
									<%= f.label :password_confirmation %>
									<%= f.password_field :password_confirmation %>
								</p>
							
								<p>
									<button type="submit" name="commit" value="Create Post" class="normal" style="float:right">submit</button>
									<span class="cancel-edit-user normal" style="float:right">cancel</span>
								</p>
							<% end %>
						</div>
					<% end %>
				</div>
			</div><!-- end profile info -->
		</div>
	</div>
</div>