<% provide(:title, @user.name) %>

<h3 class="page-title"><%= @user.name %></h3>
<div class="map-container">

	<% if @user.post.nil? %>
		<div class="starter-globe">
			<%= image_tag('globe_' + rand(4).to_s + '.jpg') %>
		</div>

		<div class="start-journey-container">
			<%= link_to :new_post do %>
				<button class="normal start-journey"><p>start journey</p></button>
			<% end %>
		</div>
	<% else %>
		<div class="profile-map-container">
			<div id="profile-map"></div>
			
			<script type="text/javascript">
				var driftmap = {
					init_x: '<%= @post.init_x %>',
					init_y: '<%= @post.init_y %>',
					init_zoom: '<%= @post.init_zoom %>',
				}

				var markers = [];

				<% @post.blips.each do |b| %>
					markers.push({
						marker_x: '<%= b.x %>',
						marker_y: '<%= b.y %>',
						marker_title: '<%= b.title %>',
						marker_body: '<%= b.body %>'
					});
				<% end %>

				init_map('profile-map', driftmap, markers)
			</script>

			<% if user_is_home(@user) || admin_user %>
				<p style="margin-top:10px;">
					<a>
					<%= link_to 'edit driftmap | ', edit_post_path(@post) %>
					<%= link_to 'delete driftmap', @post, method: :delete, data: { confirm: "Are you sure?" } %>
					</a>
				</p>
			<% end %>

		</div><!-- End Driftmap -->

		<div class="map-details col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<h3 class="page-title post-title"><%= @post.title %></h3>
			<p class="post-title"><%= @post.body %></p>
			

		</div>

	<% end %>
</div>

<div id="pro-parts-container">
	<div class="pro-part profile">
		<h4 class="page-title" style="border:none;"><%= @user.name %></h4>
		<div class="profile-details-container">
			<div class="profile-details">
				<%= image_tag @user.profile_pic, :class => 'pp' if @user.profile_pic %>
				<div class="user-info">
					<p><%= @user.name %></p>
					
					<% if @user.from %>
						<p class="user-from">from: </p>
						<p><%= @user.from %></p>
					<% end %>			

					<% if @user.gps %>
						<p class="user-gps">gps coordinates: </p>
						<p><%= @user.gps %></p>
					<% end %>
					
					<% if user_is_home(@user) || admin_user %>
						<p><%= @user.email %></p>
						<p><a class="edit-user-anchor">edit</a><a> | </a><%= link_to 'delete', @user, method: :delete, data: { confirm: "Are you sure?" } %></p>
					<% end %>
				</div><div class="clear-fix"></div>

				<% if user_is_home(@user) || admin_user %>
					<div class="alter-user-container" style="display:none;">
						<%= form_for @user, html: { multipart: true } do |f| %>
							<p>
								<%= f.label 'profile picture' %>
								<%= f.file_field :profile_pic, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
							</p>
							<p>
								<%= f.label :name %>
								<%= f.text_field :name %>
							</p>

							<p>
								<%= f.label :email %>
								<%= f.text_field :email %>
							</p>							

							<p>
								<%= f.label :from, 'Where are you from?' %>
								<%= f.text_field :from %>
							</p>

							<p>
								<%= f.label :gps, 'Where are you currently?' %>
								<%= f.text_field :gps %>
							</p>
						
							<p>
								<button type="submit" name="commit" value="Create Post" class="normal" style="float:right">done</button>
								<span class="cancel-edit-user normal" style="float:right">cancel</span>
							</p>
						<% end %>
					</div>
				<% end %>
			</div>
		</div><!-- end profile info -->
	</div>
</div>	

<script type="text/javascript">
	$(document).ready(function(){
		// edit post
		$('a.edit-anchor').bind('click', function(){
			$('.alter-post-container').slideDown();
		});

		// cancel edit post
		$('.cancel-edit-post').on('click', function(){
			$('.alter-post-container').slideUp();
		});

		// edit profile info
		$('.edit-user-anchor').on('click', function(){
			$('.alter-user-container').slideDown();
			$('.profile-details-container').addClass('form-open');
		});

		// cancel edit user
		$('.cancel-edit-user').on('click', function(){
			$('.alter-user-container').slideUp();
			$('.profile-details-container').removeClass('form-open');
		});
	});
</script>