<% if false %>
	<!-- Start new Adventure -->
	<div class="start-new">
	  <%= image_tag 'switzerland10.JPG' %>

	  <% if user_is_home(@user) %>
	    <div class="start-text">
	      <%= link_to new_route_path do %>
	        <p>begin an new adventure now</p>
	      <% end %>
	    </div>
	  <% else %>
	    <div class="start-text">
	      <p>
	        <%= @user.name %> has not added any content yet.
	      </p>
	    </div>
	  <% end %>
	</div>
<% end %>


<% provide(:title, @user.name) %>

<hr style="width:84%; height: 3px;background-color: #ccc; margin: 75px auto 50px;">

<div class="container">
	<div class="map-details col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<h3 class="page-title post-title"><%= @post.title %><%= link_to '<span style="font-size: .48em; font-style:italic"> - edit driftmap</span>'.html_safe, edit_post_path(@post) if user_is_home(@user) %></h3>

		<p class="post-title"><%= @post.body %></p>
	</div>

	<div id="pro-parts-container" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="pro-part profile">
			<div class="profile-details-container">
				<div class="profile-details">
					<p><%= @user.name %></p>
					<%= image_tag @user.profile_pic, class: 'pp' if @user.profile_pic %>
					<div class="user-info">						
						<% if @user.from %>
							<p class="user-from">from: </p>
							<p><%= @user.from %></p>
						<% end %>			

						<% if @user.gps %>
							<p class="user-gps">current location: </p>
							<p><%= @user.gps %></p>
						<% end %>
						
						<% if user_is_home(@user) || admin_user %>
							<p><%= @user.email %></p>
							<p><a class="edit-user-anchor">edit my info</a></p>
						<% end %>
					</div><div class="clear-fix"></div>

					<% if user_is_home(@user) || admin_user %>
						<div class="alter-user-container" style="display:none;">
							<%= form_for @user, html: { multipart: true } do |f| %>
								<p>
									<%= f.label 'profile picture' %>
									<%= f.file_field :profile_pic, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
								</p>
								<p>
									<%= f.label :name %>
									<%= f.text_field :name %>
								</p>

								<p>
									<%= f.label :email %>
									<%= f.text_field :email %>
								</p>							

								<p>
									<%= f.label :from, 'Where are you from?' %>
									<%= f.text_field :from %>
								</p>

								<p>
									<%= f.label :gps, 'Where are you currently?' %>
									<%= f.text_field :gps %>
								</p>

								<p>
									<%= f.label :password %>
									<%= f.password_field :password %>
								</p>

								<p>
									<%= f.label :password_confirmation %>
									<%= f.password_field :password_confirmation %>
								</p>
							
								<p>
									<button type="submit" name="commit" value="Create Post" class="normal" style="float:right">done</button>
									<span class="cancel-edit-user normal" style="float:right">cancel</span>
								</p>
							<% end %>
						</div>
					<% end %>
				</div>
			</div><!-- end profile info -->
		</div>
	</div>
</div>

<script type="text/javascript">
	/* Leaflet Map */
	var driftmap = {
		init_x: '<%= @post.init_x %>',
		init_y: '<%= @post.init_y %>',
		init_zoom: '<% @post.init_zoom %>',
	}

	var blips = [];

	<% if @user.post.blips.any? %>
		<% @blips.each do |blip| %>
	    var blipImages = [];
	    <% blip.blip_images.each do |blip_image| %>
	      blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
	    <% end %>

	    blips.push({
	      id:     "<%= blip.id %>",
	      x:      "<%= blip.x %>",
	      y:      "<%= blip.y %>",
	      title:  "<%= blip.title.to_json %>",
	      body:   "<%= blip.body.to_json %>",
	      images: blipImages
	    })
	  <% end %>
	<% end %>

	init_map('map', driftmap, blips)
	// End Leaflet Map

	// TimelineJS3
	<% if !@route.nil? %>
		<% if @route.coverphoto.present? %>
			var blip_cover_image = '<%= image_path(@route.coverphoto).html_safe %>';
		<% else %>
			var blip_cover_image = '<%= image_path("switzerland10.JPG").html_safe %>';
		<% end %>

		var events = [];

		<% @route.blips.each do |blip| %>
			events.push({
				"media": {
					url: '',
					caption: ''
				},
				start_date: {
					month: '<%= blip.date.month %>',
					day: '<%= blip.date.day %>',
					year: '<%= blip.date.year %>'
				},
				text: {
					headline: "<%= blip.title %>",
					text: "<%= blip.body %>"
				}
			});
		<% end %>

		var timeLineData = {
		  title: {
		    media: {
		      url: blip_cover_image,
		      caption: ""
		    },
		    text: {
		      headline: "",
		      text: ""
		    }
		  },
		  events: events
		}

		var dmOptions = { timenav_height: 180 }
		init_timeline(timeLineData, dmOptions );
	<% end %>
	// end TimelineJS3


	// edit profile info
	$('.edit-user-anchor').on('click', function(){
		$('.alter-user-container').slideDown();
		$('.profile-details-container').addClass('form-open');
	});

	// cancel edit user
	$('.cancel-edit-user').on('click', function(){
		$('.alter-user-container').slideUp();
		$('.profile-details-container').removeClass('form-open');
	});
</script>
