<h2 class="page-title">driftCode</h2>

<div class="map-container">
	<div id='map'></div>
		<script type="text/javascript">
			init_map();		
		</script>
</div><!-- End Map -->

<div id="dash-container">
	<h3 class="page-title">driftCities</h3>
	<div class="total-posts-container">
		
		<% if Post.any? %>
			<% posts = Post.all.limit(10) %>
			<% posts.each do |post| %>
				<% user = User.find(post.user_id) %>
				<div class="post-container" data-post-id="<%= post.id %>">
					<div class="img-user-container container">
						<div class="post-img-container col-lg-7 col-md-7 col-sm-12 col-xs-12">
							<%= image_tag post.picture.url if post.picture? %>
						</div>
						<div class="post-user-container">
							<%= link_to user do %>
								<h4><%= user.name %></h4>
							<% end %>
							<h4><%= post.title %></h4>
						</div>
					</div>

					<div class="post-text-container">
						<p><%= post.body %></p>
					</div>

					<% if admin_user %>
						<p>
							</a><%= link_to 'delete', post, method: :delete, data: { confirm: "Are you sure?" } %>
						</p>	
					<% end %>
				</div>
			<% end %>
		<% else %>
			<h3 class="page-title">Nobody has been anywhere</h3>
		<% end %>

	</div>
</div>
