<div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p style="line-height: 40px;">driftMap is a platform that allows you to share a map of your journeys and adventures, comprised of all your photos, treks, writing and of course all the friends you have made along the way. </p>
    
    <% unless logged_in? %>
      <%= link_to signup_path do %>
        <button class="normal">Sign up</button>
      <% end %>

      <%= link_to login_path do %>
        <button class="normal">Log in</button>
      <% end %>
    <% end %>
  </div>
</div>

<input type="hidden" id="driftmap_id" value="<%= @ethan.driftmap.id %>">

<div id="home-page">
  <!-- MAP -->
  <div class="map-container">
    <div id='map'></div>
  </div>

  <div class="hud-container">
    <!-- TOP HUD -->
    <div class="hud-top">
      <% @journeys.each_with_index do |journey, i| %>
        <div class="<%= 'hidden' unless i == 0 %> content-<%= journey.id %>">
          <% journey.waypoints.each_with_index do |waypoint, j| %>
            <div class="waypoint-content <%= 'hidden' unless j == 0 %>">

              <!-- Galleries -->
              <div class="hud-galleries">
                <% if waypoint.galleries.any? %>
                  <p class="hud-waypoint-title">Galleries</p>
                  <% if false %>
                    <% waypoint.galleries.each do |g| %>
                      <span class="content-title"><%= g.title %></span>
                      <% g.waypoint_images.each do |g_img| %>
                        <div class="gallery gallery-<%= g.id %>">
                          <%= image_tag g_img.image %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              
              <!-- Friends -->
              <div class="hud-friends">
                <% if waypoint.friends.any? %>
                  <p class="hud-waypoint-title">Friends</p>
                <% end %>
              </div>

              <!-- Essays -->
              <div class="hud-essays">
                <% if waypoint.essays.any? %>
                  <p class="hud-waypoint-title">Essays</p>
                <% end %>
              </div>

              <!-- treks -->
              <div class="hud-treks">
                <% if waypoint.treks.any? %>
                  <p class="hud-waypoint-title">Treks</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>   
      <% end %>
    </div>

    <!-- BOTTOM HUD -->
    <div class="hud-bottom">
      <% @journeys.each_with_index do |journey, i| %>
        <div class="journey journey-<%= journey.id %>">
          <h6 class="journey-title <%= 'active' if i == 0 %>"><%= journey.title %></h6>
          <p class="wp-title"><%= journey.waypoints.first.title %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>