<% if !logged_in? %>
  <div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p>driftMap is a backpacking and travelling platform that allows you to share a map of your journeys, adventures and wild experiences. </p>
    <%= link_to signup_path do %>
      <button class="normal">Sign up</button>
    <% end %>

    <%= link_to login_path do %>
      <button class="normal">Log in</button>
    <% end %>
  </div>
  </div>
<% end %>

<div class="container">
  <div id="dm-content-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
    <% if !@routes.nil? %>
      <%= render 'routes/init_routes_timeline_html' %>
    <% else %>
      <%= render 'routes/init_adventure' %>
    <% end %>
  </div>

  <div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <div class="map-container">
      <div id='map'></div>
    </div>

    <%= render 'routes/waypoints_list' %>
  </div>
</div>

<script type="text/javascript">
$(function(){
  /* Leaflet Map */
  var driftmap = {
    init_x: 0.924206230200376,
    init_y: -40.2400771379471,
    init_zoom: 6,
  }

  var blips = [];
  <% @routes.each_with_index do |route, index| %>
    <% route.blips.each do |blip| %>
      var blipImages = [];
      <% blip.blip_images.each do |blip_image| %>
        blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
      <% end %>

      blips.push({
        id:     "<%= blip.id %>",
        x:      "<%= blip.x %>",
        y:      "<%= blip.y %>",
        title:  "<%= blip.title.to_json %>",
        body:   "<%= blip.body.to_json %>",
        images: blipImages
      });
    <% end %>
  <% end %>

  init_map('map', driftmap, blips);

  /* TimelineJS */
  <% if !@routes.nil? %>
    <% @routes.each_with_index do |route, index| %>
      /* Route Coverphoto */
      <% if route.coverphoto.present? %>
        var blip_cover_image = '<%= image_path(route.coverphoto).html_safe %>';
      <% else %>
        var blip_cover_image = '<%= image_path("switzerland10.JPG").html_safe %>';
      <% end %>

      /* Route waypoints */
      var events = [];
      <% route.blips.order(:date).each do |blip| %>
        events.push({
          "media": {
            url: '',
            caption: ''
          },
          start_date: {
            month: '<%= blip.date.month %>',
            day: '<%= blip.date.day %>',
            year: '<%= blip.date.year %>'
          },
          text: {
            headline: "<%= blip.title %>",
            text: "<%= blip.body %>"
          },
          blip_id: '<%= blip.id %>'
        });
      <% end %>

      var timeLineData = {
        title: {
          media: {
            url: blip_cover_image,
            caption: ""
          },
          text: {
            headline: "<%= route.title %>",
            text: "<%= route.description %>"
          }
        },
        events: events
      }

      var dmOptions = { timenav_height: 180 }
      init_timeline('dm-timeline-<%= index %>', timeLineData, dmOptions, '<%= route.id %>' );
    <% end %>
  <% end %>
  /* end TimelineJS */
});
</script>