<% if !logged_in? %>
  <div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p>driftMap is a backpacking and travelling platform that allows you to share a map of your journeys, adventures and wild experiences. </p>
    <%= link_to signup_path do %>
      <button class="normal">Sign up</button>
    <% end %>

    <%= link_to login_path do %>
      <button class="normal">Log in</button>
    <% end %>
  </div>
  </div>
<% end %>

<div class="container">
  <div id="dm-content-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
    <% if @routes.present? %>
      <!-- Routes -->
      <% @routes.each_with_index do |route, index| %>
        <div class="route-content" data-routecontent="<%= route.id %>">
          <h4 class="route-header"><%= route.title %></h4>
          <div id='dm-timeline-<%= route.id %>' style="width: 100%; height: 600px"></div>
          <div class="route-meta">
            <p class="route-description"><%= route.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <div class="map-container">
      <div id='map'></div>
    </div>

    <% if !@routes.nil? %>
      <!-- Accordian -->
      <div id="accordian-container">
        <h5 class="waypoints-title">journeys</h5>
        <div id="waypt-accord" class="panel-group markers-container wizard-step" role="tablist" aria-multiselectable="true"></div>
      </div>
    <% end %>    
  </div>
</div>