<input type="hidden" id="driftmap_id" value="<%= @ethan.driftmap.id %>">

<div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p style="line-height: 40px;">driftMap is a platform that allows you to share a map of your journeys and adventures, comprised of all your photos, treks, writing and of course all the friends you have made along the way. </p>
    
    <% unless logged_in? %>
      <%= link_to signup_path do %>
        <button class="normal">Sign up</button>
      <% end %>

      <%= link_to login_path do %>
        <button class="normal">Log in</button>
      <% end %>
    <% end %>
  </div>
</div>

<div id="home-page">
  <!-- MAP -->
  <div class="map-container">
    <div id='map'></div>
  </div>

  <div class="hud-container">
    <!-- BOTTOM HUD -->
    <div class="hud-bottom">
      <% @journeys.each_with_index do |journey, i| %>
        <div class="journey journey-<%= journey.id %> hud-content-container">
          <h6 data-journey="<%= journey.id %>" class="journey-title <%= 'active' if i == 0 %>"><%= journey.title %></h6>
          <% journey.waypoints.each do |wp| %>
            <p class="wp-title " data-waypoint="<%= wp.id %>"><%= wp.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>