<h2 class="page-title">driftCode</h2>

<div class="map-container">
	<div id='map'></div>
		<script type="text/javascript">
			var x = 40.735;
			var y = -73.890;
			var map;

			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(function(pos){
					x = pos.coords.latitude.toFixed(3);
					y = pos.coords.longitude.toFixed(3);
					map = L.map('map').setView([x, y], 14);
					// TODO make this API key a Server environment variable
					L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', 
						{
				    	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
				    	maxZoom: 18,
				    	id: 'eozelius77.j4hekake',
				    	accessToken: 'pk.eyJ1IjoiZW96ZWxpdXM3NyIsImEiOiJkQmhDSl8wIn0.MzOmrtAL3uTNmVfLmEZ57g'
						}).addTo(map);

					L.marker([x, y]).addTo(map);

					/*L.Routing.control({
					  waypoints: [
					    L.latLng(x, y),
					    L.latLng(40.735, -70.890)
					  ]
					}).addTo(map);*/
				});
			} else {
				map = initMap(x, y, 12, false);
			}
	</script>
</div><!-- End Map -->

<div id="dash-container">
	<h3 class="page-title">driftCities</h3>
	<div class="total-posts-container">
		
		<% if Post.any? %>
			<% posts = Post.all.limit(10) %>
			<% posts.each do |post| %>
				<% user = User.find(post.user_id) %>
				<div class="post-container" data-post-id="<%= post.id %>">
					<div class="img-user-container container">
						<div class="post-img-container col-lg-7 col-md-7 col-sm-12 col-xs-12">
							<%= image_tag post.picture.url if post.picture? %>
						</div>
						<div class="post-user-container">
							<%= link_to user do %>
								<h4><%= user.name %></h4>
							<% end %>
							<h4><%= post.title %></h4>
						</div>
					</div>					


					<div class="post-text-container">
						<p><%= post.body %></p>
					</div>

					<% if admin_user %>
						<p>
							</a><%= link_to 'delete', post, method: :delete, data: { confirm: "Are you sure?" } %>
						</p>	
					<% end %>
				</div>
			<% end %>
		<% else %>
			<h3 class="page-title">Nobody has been anywhere</h3>
		<% end %>

	</div>
</div>
