<% if !logged_in? %>
  <div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p>driftMap is a backpacking and travelling platform that allows you to share a map of your journeys, adventures and wild experiences. </p>
    <%= link_to signup_path do %>
      <button class="normal">Sign up</button>
    <% end %>

    <%= link_to login_path do %>
      <button class="normal">Log in</button>
    <% end %>
  </div>
  </div>
<% end %>

<div id="home-page" class="container">
  <!-- TIMELINEJS3 -->
  <div id="driftmap-timeline-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
    <% @journeys.each do |journey| %>
      <div class="journey-content" data-journeycontent="<%= journey.id %>">
        <h4 class="journey-header"><%= journey.title %></h4>
        <div id='dm-timeline-<%= journey.id %>' style="width: 100%; height: 600px"></div>
        <div class="journey-meta">
          <p class="journey-description"><%= journey.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <!-- LEAFLET & accordian -->
  <div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <div class="map-container">
      <div id='map'></div>
    </div>

    <div id="accordian-container">
      <h5 class="waypoints-title">journeys</h5>
      <div id="waypt-accord" class="panel-group markers-container wizard-step" role="tablist" aria-multiselectable="true"></div>
    </div>
  </div>
</div>