<% if !logged_in? %>
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p>driftMap is a backpacking and travelling platform that allows you to share a map of your journeys, adventures and wild experiences. </p>
    <%= link_to signup_path do %>
    	<button class="normal">Sign up</button>
    <% end %>

    <%= link_to login_path do %>
    	<button class="normal">Log in</button>
    <% end %>
  </div>
<% end %>

<div class="container">
  <div id="dm-content-container" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <% @blips.each_with_index do |blip, index| %>
      <div class="blip-content <%= 'hidden' if index != 0 %>" data-blip="<%= blip.id %>">
        <!-- blip carousel -->
        <% if blip.blip_images.any? %>
          <div id="images-carousel" class="carousel slide" data-ride="carousel">

            <!-- Blip Photos -->
            <div class="carousel-inner" role="listbox">
              <% blip.blip_images.each_with_index do |image, i| %>
                <div class="item <%= 'active' if i == 0 %>">
                  <%= image_tag image.image %>
                </div>
              <% end %>
            </div>

            <% if blip.blip_images.count > 1 %>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% blip.blip_images.count.times do |b| %>
                  <li data-target="#images-carousel" data-slide-to="<%= b %>"></li>
                <% end %>
                <script type="text/javascript">
                  $('li[data-target="#images-carousel"]').first().addClass('active')
                </script>
              </ol>

              <!-- Controls -->
              <a class="left carousel-control" href="#images-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#images-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            <% end %>
          </div><!-- end carousel -->
        <% end %>

        <!-- blip author title text  -->
        <div class="blip-info" data-blip="<%= blip.id %>">
          <% user = User.find(blip.post.user_id) %>

          <h4 class="blip-title">
            <%= blip.title %>
          </h4>

          <p class="blip-body">
            <%= image_tag user.profile_pic if user.profile_pic %>
            <%= blip.body %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="map-container">
      <div id='map'></div>
      <script type="text/javascript">
        var driftmap = {
          init_x: 0.924206230200376,
          init_y: -40.2400771379471,
          init_zoom: 2,
        }

        var blips = [];

        <% @blips.each do |blip| %>
          var blipImages = [];
          <% blip.blip_images.each do |blip_image| %>
            blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
          <% end %>

          blips.push({
            id:     "<%= blip.id %>",
            x:      "<%= blip.x %>",
            y:      "<%= blip.y %>",
            title:  "<%= blip.title.to_json %>",
            body:   "<%= blip.body.to_json %>",
            images: blipImages
          })
        <% end %>

        var routes = [];

        <% Route.all.each do |route| %>
          var routePoints = [];
          <% route.route_points.each do |route_point| %>
            routePoints.push({
              x: '<%= route_point.x %>',
              y: '<%= route_point.y %>',
              order: '<%= route_point.order %>'
            });
          <% end %>

          routes.push({
            description: "<%= route.description.to_json %>",
            routePoints: routePoints
          });
        <% end %>

        init_map('map', driftmap, blips, routes)
      </script>
    </div>

    <div class="view-wizard-container">
      <!-- blips -->
      <div class="markers-container wizard-step">
        <div class="wizard-markers">
          <ul>
            <% @blips.each do |blip| %>
              <% author = User.find(Post.find(blip.post_id).user_id) # wowzers %>
              <li class="blip" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>">
                <p class="blip-title">
                  <%= blip.title %> <%= link_to "<span class='author-name'> - #{author.name}</span>".html_safe, user_path(author.id) %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>    
  </div>
</div>

<script type="text/javascript">
  // reveal blip info
  $('.blip').on('click', function(){
    var active = $(this).hasClass('active');
    var blip_index = $(this).data('blip');
    $('.blip-content').addClass('hidden');
    $('.blip-content[data-blip="'+ blip_index +'"]').removeClass("hidden");

    if(active){
      $(this).removeClass('active');
    } else {
      $('.blip-info[data-blip="'+ blip_index +'"]').slideDown(700);
      $(this).addClass('active');
      var init_x = $(this).data('initx');
      var init_y = $(this).data('inity');
      window.map.setView([init_x, init_y]).setZoom(9);
    }
  });
</script>