<% if @driftmap.errors.any? %>
	<div class="errors">
		<p class="title">whoops</p>
		<ul class="errors-list">
			<% @driftmap.errors.full_messages.each do |msg| %>
				<li><p><%= msg %></p></li>
			<% end %>
		</ul>
	</div>	
<% end %>

<div class="instructions-container container">
	<p class="instructions">give your map a beautiful new name</p>
		<button type ="next" class="next-step normal">next</button>

	<div class="current-step col-lg-5 col-md-5 col-sm-12 col-xs-12">
		<p class="create-map-title">
			<label>Title</label>
			<input type="text" for="driftmap-title" />
		</p>
	</div>
</div>


<div class="create-map-container">
	<div id='map'></div>

	<script type="text/javascript">
		var x = 40.735;
		var y = -73.890;
		var map;

		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(function(pos){
				x = pos.coords.latitude.toFixed(3);
				y = pos.coords.longitude.toFixed(3);
				map = L.map('map').setView([x, y], 14);
				// TODO make this API key a Server environment variable
				L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', 
					{
			    	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
			    	maxZoom: 18,
			    	id: 'eozelius77.j4hekake',
			    	accessToken: 'pk.eyJ1IjoiZW96ZWxpdXM3NyIsImEiOiJkQmhDSl8wIn0.MzOmrtAL3uTNmVfLmEZ57g'
					}).addTo(map);

				L.marker([x, y]).addTo(map);
			});
		} else {
			map = initMap(x, y, 12, false);
		}
	</script>

</div><!-- End Map -->


<% if false %>
	<%= form_for [@user, @driftmap], url: user_driftmap_index_path do |f| %>
		<p>
			<%= f.label 'map title', :class => 'page-title' %>
			<%= f.text_field :title %>
		</p>	

		<p>
			<%= f.label 'map description', :class => 'page-title' %>
			<%= f.text_area :body %>					
		</p>

		<p>
			<button type ="submit" class="normal">create map</button>
		</p>
	<% end %>
<% end %>