<div id="view-driftmap-wizard">
  <button class="toggle-wizard normal"><i class="fa fa-tachometer"></i></button>

  <div class="wizard-container">
    <ul class="tabs-menu">
      <li data-step="todo" class="wizard-table active-tab">all</li>
      <li data-step="routes" class="wizard-table" style="font-size:.88em;">journeys</li>
      <li data-step="markers" class="wizard-table"></i>blips</li>
    </ul>

    <div class="driftmap-form-container">
      <div class="todo-container wizard-step">
        <div class="wizard-todo">
          <p class="instructions-title" style="color: #552727">all my blips and journeys</p>
          <button class="todo normal">reveal</button>
        </div>
      </div>

     	<!-- routes -->
      <div class="routes-container wizard-step hidden">
        <div class="wizard-routes">
          <ul>
            <% @post.routes.each do |route| %>
              <li class="route">
                <p class="route-title" data-route="<%= route.id %>" data-initx="<%= route.route_points.first.x %>" data-inity="<%= route.route_points.first.y %>">
                  <%= route.title %>
                </p>

                <div class="route-info" data-route="<%= route.id %>">
                  <p class="route-body" data-route="<%= route.id %>">
                    <%= route.description %>
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      
      <!-- blips -->
      <div class="markers-container wizard-step hidden">
        <div class="wizard-markers">
          <ul>
            <% @post.blips.each do |blip| %>
              <li class="blip">
                <p class="blip-title" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>">
                  <%= blip.title %>
                </p>

                <div class="blip-info" data-blip="<%= blip.id %>">
                  <p class="blip-body">
                    <%= blip.body %>
                  </p>
                  <p class="blip-photos">
                    <% blip.blip_images.each do |image| %>
                      <%= image_tag image.image %>
                    <% end %>
                  </p>

                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div id="todo">
      <div class="todo-content-container hidden">
        <div class="todo-routes-container">
          <h4>journeys</h4>

          <div class="todo-routes">
            <% @post.routes.each do |route| %>
              <div class="asdf-route">
                <p class="todo-route-title todo-title">
                  <%= route.title %>
                </p>

                <p class="todo-route-body todo-body">
                  <%= route.description %>
                </p>

                <% route.blips.each do |blip| %>
                  <div class="asdf-blip">
                    <p class="todo-blip-title todo-title">
                      <%= blip.title %>
                    </p>
                    <p class="todo-blip-route todo-body">
                      <%= blip.body %>
                    </p>

                    <ul>
                      <% blip.blip_images.each do |image| %>
                        <li><%= image_tag image.image %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- StandAlone Blips -->
        <% if false %>
          <div class="todo-blips">
            <% @post.blips.each do |blip| %>
              <div class="asdf-standalone-blip">
                <p class="todo-standalone-title todo-title">
                  <%= blip.title %>
                </p>

                <p class="todo-standalone-body todo-body">
                  <%= blip.body %>
                </p>

                <ul>
                  <% blip.blip_images.each do |image| %>
                    <li><%= image_tag image.image %></li>
                  <% end %>
                </ul>

              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="dismiss-todo hidden">
        <button class="todo normal">hide</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    // toggle wizard
    $('.toggle-wizard').on('click', function(){
      if($('.wizard-container').hasClass('active')){
        $('.wizard-container').removeClass('active');
      } else {
        $('.wizard-container').addClass('active');
      }
    });

    // Change menu tab
    $('.tabs-menu li').on('click', function(){
      $('.active-tab').removeClass('active-tab');
      var tab = $(this).data('step');
      $(this).addClass('active-tab');

      $('.wizard-step').addClass('hidden');
      $('.'+ tab + '-container').removeClass('hidden');    
    });

    // reveal Route info
    $('.route-title').on('click', function(){
      var active = $(this).hasClass('active');
      var route_index = $(this).data('route');

      if(active){
        $('.route-info[data-route="'+ route_index +'"]').slideUp(700);
        $(this).removeClass('active');
      } else {
        $('.route-info[data-route="'+ route_index +'"]').slideDown(700);
        $(this).addClass('active');
        var init_x = $(this).data('initx') - 0.5;
        var init_y = $(this).data('inity') - 2.2;
        window.map.setView([init_x, init_y]).setZoom(7);
      }
    });

    // reveal blip info
    $('.blip-title').on('click', function(){
      var active = $(this).hasClass('active');
      var blip_index = $(this).data('blip');

      if(active){
        $('.blip-info[data-blip="'+ blip_index +'"]').slideUp(700);
        $(this).removeClass('active');
      } else {
        $('.blip-info[data-blip="'+ blip_index +'"]').slideDown(700);
        $(this).addClass('active');
        var init_x = $(this).data('initx') - 0.5;
        var init_y = $(this).data('inity') - 2.2;
        window.map.setView([init_x, init_y]).setZoom(7);
      }
    });

    // reveal all journey and blips data
    $('.todo').on('click', function(){
      toggleTodo();
    });
  });

  function toggleTodo(){
    $('.tabs-menu, .todo-container, .wizard-todo, .todo-content-container, .dismiss-todo').toggleClass('hidden');
    $('.wizard-container').toggleClass('reveal-all').css('opacity', '1');
    $('#map, .todo').toggleClass('toggle-todo');
  }
</script>