var DriftMapLeaflet = function(){
  // Private Variables
  var indexer = []

  L.Icon.Default.imagePath = '<%= (Rails.root + "/assets/leaflet").to_s %>';
  /* Custom Makers */
  var maroonMarker = L.icon({ 
    iconUrl: '<%= (Rails.root + "/assets/leaflet/marker-maroon-icon.png").to_s %>',
    shadowUrl: '<%= (Rails.root + "/assets/leaflet/marker-shadow.png").to_s %>',
    popupAnchor:  [0, -35]
  });

  var blueMarker = L.icon({
    iconUrl: '<%= (Rails.root + "/assets/leaflet/marker-icon.png").to_s %>',
    shadowUrl: '<%= (Rails.root + "/assets/leaflet/marker-shadow.png").to_s %>',
    popupAnchor:  [0, -35]
  });

  // Private Methods

  /* Event Listeners */

  // Goto Waypoint from Journey Leaflet Popup or Right Hud
  $(document).on('click', '.waypoints-preview li, .hud-bottom p', function () {
      var wp = DriftMapLeaflet.getWayPoint($(this).data('waypoint'))
      console.log('wp: ' + wp.title)
      wp.leaflet.popup.openOn(m)

  })

  // Goto First content
  $(document).on('click', '.content-icons-menu li', function(){
      var wp_id = $(this).data('waypoint');
      var type  = $(this).data('request-type').toString();
      $('.waypoint-content .view-content').removeClass('active')
      $('.waypoint-content .' + type).addClass('active')
  });

  return {
    // public variables

    // public methods
    init: function(data, myDefault){
      var driftmap = data.driftmap
      var journeys = data.journeys
      m = L.map('map').setView([driftmap.init_x, driftmap.init_y], driftmap.init_zoom);

      // color scheme
      switch (driftmap.color_scheme) {
        case 'normal':
          mapbox_color = 'https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}';
          break;
        case 'satellite':
          mapbox_color = 'https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/256/{z}/{x}/{y}';
          break;
        case 'gray':
          mapbox_color = 'https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}';
          break;
        case 'dark':
          mapbox_color = 'https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}';
          break;
        default:
          mapbox_color = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png'; // default offwhite on blue
          break;
      }
      // end color scheme

//      console.log("<%= ENV['MAPBOX_SECRET_KEY'] %>")

      L.tileLayer(mapbox_color + '?access_token={accessToken}', 
        { attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'eozelius77.j4hekake',
          accessToken: "<%= ENV['MAPBOX_SECRET_KEY'] %>"
        }).addTo(m);

      // Zoom in/out buttons should be in top right, instead of top left.
      $('.leaflet-control-container .leaflet-top.leaflet-left').removeClass('leaflet-top').addClass('leaflet-bottom')

      for(var x in journeys){
        if(journeys[x].journey !== undefined && journeys[x].waypoints !== undefined){
          // Set initial Journey and Waypoints
            var j  = journeys[x].journey
            var wps = journeys[x].waypoints

            // Leaflet for JOURNEY
            var j_lat = wps[0].x;
            var j_lng = wps[0].y;
            var j_popupContent =
              '<div class="waypoint-popup" data-waypoint="'+ j.id +'">' +
                '<div class="waypoint-text">' +
                  '<h4 class="waypoint-popup-title instructions">'+ j.title +'</h4>' +
                  '<p class="waypoint-popup-body ">';
                    if(j.coverphoto.url != null){
                      j_popupContent += '<img class="waypoint-popup-coverphoto" src="'+ j.coverphoto.url +'">';
                    }
                    j_popupContent += j.description +
                  '</p>' +
                '</div>' +
                '<div class="waypoints-preview">' +
                    '<ul>';
                      for(var w in wps){
                          j_popupContent += '<li data-waypoint="'+ wps[w].id +'">' +
                            '<p class="waypoint-title">' + wps[w].title + '</p>';
                      }
                    j_popupContent += '</ul></div></div>';

            var jMarker = L.marker([j_lat, j_lng]).addTo(m);
            var jPopup  = L.popup({ className: 'waypoint-popup' }).setLatLng([j_lat, j_lng]).setContent(j_popupContent);
            jMarker.bindPopup(jPopup);

            // Leaflet Components for WAYPOINTS
            for(var i in wps){
              /* Add Marker to Map */
              var lat = wps[i].x;
              var lng = wps[i].y;
              var id  = wps[i].id;
              var title = wps[i].title;
              var body  = wps[i].body;
              var j_id  = wps[i].journey_id;

              /* Bind popup to marker */
              var popupContent =
                '<div class="waypoint-popup" data-waypoint="'+ id +'">' +
                  '<h4 class="waypoint-popup-title instructions">'+ title +'</h4>' +

                  // Content Icons Menu
                  '<ul class="content-icons-menu">' +
                    '<li class="galleries" data-request-type="galleries" data-waypoint="'+ id +'"><i class="fa fa-camera"></i></li>' +
                    '<li class="friends"   data-request-type="friends"   data-waypoint="'+ id +'"><i class="fa fa-user-circle"></i></li>' +
                    '<li class="essays"    data-request-type="essays"    data-waypoint="'+ id +'"><i class="fa fa-pencil-square-o"></i></li>' +
                    '<li class="treks"     data-request-type="treks"     data-waypoint="'+ id +'"><i class="fa fa-compass"></i></li>' +
                  '</ul><div class="clear-fix">' +
                  '<div class="waypoint-content-container">' +
                    '<div class="waypoint-content">' +

                      // Waypoint Body
                      '<div class="view-content active">' +
                        '<p class="waypoint-popup-body">';

                        if(wps[i].coverphoto.url != null){
                            popupContent += '<img class="waypoint-popup-coverphoto" src="'+ wps[i].coverphoto.url +'">';
                        }
                        popupContent += body +
                        '</p>' +
                      '</div>';

                      // Galleries
                      popupContent += '<div class="galleries view-content">';
                      for (var y in wps[i].content.galleries) {
                          var g = wps[i].content.galleries[y];

                          if(g.images.length > 0){
                              popupContent += '<h4 class="waypoint-title">' + g.title + '</h4>';
                              for (var gallery_image in g.images) {
                                  popupContent += '<img src ="' + g.images[gallery_image].url + '" />';
                              }
                          }
                      }
                      popupContent += '</div>';

                      // Friends
                      popupContent += '<div class="friends view-content">';
                      for(var y in wps[i].content.friends){
                        var f = wps[i].content.friends[y];

                        window.f = f
                        // console.log('f: ' + f.photo.url)
                        popupContent +=
                            '<h4 class="waypoint-title">' + f.first_name + ' ' + f.last_name + '</h4>' +
                            '<p><img src="'+ f.photo.url + '" />' + f.description +'</p>'
                      }
                      popupContent += '</div>';

                      // Essays
                      popupContent += '<div class="essays view-content">' +
                      '<h4 class="waypoint-title">Essays</h4>';
                      for(var y in wps[i].content.essays){
                          var e = wps[i].content.essays[y]
                          popupContent += '<img src="'+ e.coverphoto.url +'">' +
                              '<h4 class="waypoint-title">'+ e.title +'</h4>' +
                          '<p>'+ e.body +'</p>';
                      }
                        popupContent += '</div>';
                      popupContent += '</div>';
                    popupContent += '</div>';
                  popupContent += '</div>';
                popupContent += '</div>';

              var popupOptions = { className: 'waypoint-popup' }
              var wpMarker = L.marker([lat, lng]).addTo(m);
              var wpPopup  = L.popup(popupOptions).setLatLng([lat, lng]).setContent(popupContent);
              wpMarker.bindPopup(wpPopup);
              // End waypoint Popup


            /* Add wayPoint to indexer */
            indexer.push({
              id:     wps[i].id,
              title:  title,
              body:   body,
              journey_id: j_id,
              content: {
                galleries: [],
                friends:   [],
                essays:    [],
                treks:     []
              },
              leaflet: {
                marker: wpMarker,
                popup:  wpPopup
              }
            });
          }         
        }
      }
    
      if(journeys.length > 1){
        // indexer[0].leaflet.marker.setIcon(maroonMarker)
        // indexer[0].leaflet.popup.openOn(m)
        jMarker.setIcon(maroonMarker)
        jPopup.openOn(m)
      }
      window.leafletIndexer = indexer
    },

    defaultInit: function(){
      var d = new Date()

      var data = [{
        journey: {
          id: 0,
          description: '',
          title: '',
          driftmap_id: 0,
          coverphoto: false,
          timeline: false
        },

        waypoints: [{
          id: 0,
          title: '',
          body: '',
          x: 0,
          y: 0,
          driftmap_id: 0,
          journey_id: 0,
          date: {
            year: d.getFullYear(),
            month: d.getMonth(),
            day: d.getDay()
          },
          images: []
        }]
      }]

      var myDefault = true
      var myOpts = {
        init_x: 0.924206230200376,
        init_y: -40.2400771379471,
        init_zoom: 2
      }

      DriftMapLeaflet.init(data, myOpts, myDefault)
    },

    /* Getters */
    getWayPoint: function(id){
      for(var i in indexer)
        if(indexer[i].id == id)
          return indexer[i];
      return false;
    },

    getGallery: function(waypointId, type, contentId){
      var wp = DriftMapLeaflet.getWayPoint(waypointId)

      for(var i in wp.leaflet.content[type])
        if(wp.leaflet.content[type][i].id == contentId)
          return wp.leaflet.content.galleries[i];
      return false; 
    },

    /* Setters */
    focusWayPoint: function(id){
      var wp = DriftMapLeaflet.getWayPoint(id)

      if(wp){
        // reset all waypoint to blue
        for(var i in indexer)
          indexer[i].leaflet.marker.setIcon(blueMarker)

        wp.leaflet.marker.setIcon(maroonMarker)
        wp.leaflet.popup.openOn(m)
      }     
    }
  }
}();