/* Custom Makers */
window.maroonMarker = L.icon({ 
  iconUrl: '<%= (Rails.root + "/assets/leaflet/marker-maroon-icon.png").to_s %>',
  shadowUrl: '<%= (Rails.root + "/assets/leaflet/marker-shadow.png").to_s %>',
  popupAnchor:  [0, -35]
});

window.blueMarker = L.icon({
  iconUrl: '<%= (Rails.root + "/assets/leaflet/marker-icon.png").to_s %>',
  shadowUrl: '<%= (Rails.root + "/assets/leaflet/marker-shadow.png").to_s %>',
  popupAnchor:  [0, -35]
});

window.blipsIndexer = [];
window.timelineIndexer = [];
tlCount = -1;

function init_map(dom, driftmap, blips){
	L.Icon.Default.imagePath = '<%= (Rails.root + "/assets/leaflet").to_s %>';
	try {
		var x = driftmap.init_x || 40.735;
		var y = driftmap.init_y || -73.890;
		var z = driftmap.init_zoom || 12;
		var m = window.map = L.map(dom).setView([x, y], z);

		// TODO make this API key a Server environment variable
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', 
			{	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	    	maxZoom: 18,
	    	id: 'eozelius77.j4hekake',
	    	accessToken: "<%= ENV['MAPBOX_SECRET_KEY'] %>"
			}).addTo(m);

		// Add blips to Map
		if(blips !== undefined && blips.length > 0){
			for(var i in blips){
				var id 		= xss_trim(blips[i].id); 
				var lat 	= xss_trim(blips[i].x);
				var lng 	= xss_trim(blips[i].y);
				var body 	= blips[i].body;
				var title = blips[i].title;
				var blipImages = [];
				for(var x in blips[i].images){
					blipImages.push(blips[i].images[x])
				}

				/* Build a carousel to go inside of the leaflet popup */
				var blip_images_carousel = '';
				if(blips[i].images.length > 0) {
					blip_images_carousel += '<div class="blip-images">' +
																			'<div id="popup-carousel" class="" data-ride="carousel">' + 
				  														'<div class="carousel-inner" role="listbox">';

					for(var x in blips[i].images)
						blip_images_carousel += '<div class="item">' + blips[i].images[x] + '</div>';

					blip_images_carousel += '</div>';
				}

				/* Leaflet Map blip properties */
				var popupOptions = {
					className: 'blip-popup'
				}
				var popupContent =  '<div class="blip-popup" data-blip="'+ id +'">' + 
															'<div class="blip-text">' +
																'<a href="/blips/'+ id +'">' +
																	'<h4 class="blip-popup-title instructions">'+ title +'</h4>' + 
																	'<span> - more</span>' +
																'</a>' +
																'<p class="blip-popup-body">'+ body +'</p>' + 
															'</div>' +
																blip_images_carousel +
															'</div></div>';

				var blipMarker = L.marker([lat, lng]).addTo(m);
				var blipPopup  = L.popup(popupOptions).setLatLng([lat, lng]).setContent(popupContent);
				blipMarker.bindPopup(blipPopup);
				/* End Leaflet Map blip properties */

				// once blip has been initialized add it to window.blipsIndexer object that all views can access 
				// window.blipsIndexer[blips[i].id.toString()] = {
				window.blipsIndexer.push({
					id: 	  id,
					title:  title,
					body:   body,
					images: blipImages,
					marker: blipMarker,
					popup:  blipPopup
				});
			}

			// Open first blip on map
			window.blipsIndexer[0].marker.setIcon(window.maroonMarker);
			window.blipsIndexer[0].popup.openOn(map);
		} // end Markers
	} catch(e) {
		console.log('error: ' + e);
		flash_now('danger', 'whoops, something went wrong.  Please try again.')
		window.DMInitError = e;
	}	
}

function init_timeline (dom, t, opts, route_id) {
	tlCount++;

	// Initialize Timeline
	window.timelineIndexer[tlCount] = new TL.Timeline(dom, t, opts);
	window.timelineIndexer[tlCount]["route_id"] = route_id;
	window.timelineIndexer[tlCount]["title"] = t.title.text.headline;
	window.timelineIndexer[tlCount]["description"] = t.title.text.text;

	// TimelineJS3 does not do a great job of indexing slides, so I am manually indexing each slide of the timeline represented
	// by the DOM elements 
	// $('.tl-timemarker') = Flags at the bottom, on the timeline. 
	// $('.tl-slide.tl-slide-text-only') = the slide/content of the timeline

	// Begin Indexing
	var tempBlipIds = [];
	for(var i = 0; i < t.events.length; i++){
		tempBlipIds[i] = t.events[i].blip_id;
	}
		
	$('#dm-timeline-'+ tlCount +' .tl-timemarker').each(function(j, elem){
		$(this).attr('data-tlBlipIndex', tempBlipIds[j])
	});

  $('#dm-timeline-'+ tlCount +' .tl-slide.tl-slide-text-only').each(function(j, elem){
    $(this).attr('data-tlBlipIndex', tempBlipIds[j])
  });

  var titleSlideId = $('#dm-timeline-'+ tlCount +' .tl-slide.tl-slide-titleslide').prop('id')

  // End Indexing

  for(var i = 0; i < t.events.length; i++){
	  var rBlip = getBlip(t.events[i].blip_id);
		if(rBlip.images !== undefined){
			var c = '<div id="images-carousel-'+ i +'" class="hidden carousel slide" data-ride="carousel">' + 
                '<div class="carousel-inner" role="listbox">';

      for(var x in rBlip.images){
        c += '<div class="item">' + rBlip.images[x] + '</div>';
      }

      // if blip has more than one image, add indicators
      if( rBlip.length > 1 ){
	      c +=  '<a class="left carousel-control" href="#images-carousel-'+ i +'" role="button" data-slide="prev">' +
	              '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>' +
	              '<span class="sr-only">Previous</span>' +
	            '</a>' +
	            '<a class="right carousel-control" href="#images-carousel-'+ i +'" role="button" data-slide="next">' +
	              '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' +
	              '<span class="sr-only">Next</span>' +
	            '</a>';
	      c += '</div></div>';
      }
    }

    $('.tl-slide[data-tlBlipIndex="'+ rBlip.id +'"]').empty();
    $('.tl-slide[data-tlBlipIndex="'+ rBlip.id +'"]').html(c);
    $('.carousel .item:first-child').addClass('active');
	}
  // end carousel

	/* Timeline Event Listeners */
	// When timeline changes, update Map and menu of blips
	window.timelineIndexer[tlCount].on("change", function(data) {
	  var unique_id = data.unique_id;
	  var targetBlipId = $('#' + unique_id + '-marker').attr('data-tlBlipIndex');
	  var tlBlip = getBlip(targetBlipId);

	  if(tlBlip){
	    // reveal stop title and body in waypoint menu
	    wayPtShow(tlBlip.id);

	    for(var i in window.blipsIndexer)
	      window.blipsIndexer[i].marker.setIcon(window.blueMarker);

	    tlBlip.popup.openOn(window.map);
	    tlBlip.marker.setIcon(window.maroonMarker);
	    $('.carousel').addClass('hidden');

	    setTimeout(function(){
	      $('.tl-slide[data-tlBlipIndex="'+ targetBlipId +'"] .carousel').removeClass('hidden');
	    }, 500);
		} else {
			var title = $(this)[0]["title"]; 
			var description = $(this)[0]["description"];
			$('.route-header').text(title);
  		$('.route-description').text(description);		
		}
	});
}

function wayPtShow (id){
	var blip = getBlip(id);

	if( blip ){
	  var title = blip.title.replace(/&quot;/g, '');
	  var body = blip.body.replace(/&quot;/g, '');
	  var blipId = blip.id;
	  $('.route-header').text(title);
	  $('.route-description').text(body)
  }
}

function getTimeline(id){
	for(var x in window.timelineIndexer){
		if( window.timelineIndexer[x].route_id ){	return window.timelineIndexer[x] }
	}
	return false;
}

function getBlip(id){
	for(var x in window.blipsIndexer){
		if( window.blipsIndexer[x].id == id ){ return window.blipsIndexer[x]; }		
	}
	return false;
}

function flash_now(type, message){
	console.log("type: " + type + "\n message: " + message);

	var flash_msg = '<div style="margin:0; width:100%" class="flash-messages flash-'+ type +' col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="flash">'+ message +'</p></div>';
	$('.application-container').prepend(flash_msg).removeClass('hidden');
}

function xss_trim(str){
	return String(str)
	.replace(/&/g, '&amp;')
	.replace(/"/g, '&quot;')
	.replace(/'/g, '&#39;')
	.replace(/</g, '&lt;')
	.replace(/>/g, '&gt;')
	.replace('/', '&#x2F');
}
