<%= form_for @post do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>	
	</p>	

	<p>
		<%= f.label :body %>
		<%= f.text_field :body, type: 'hidden' %>
	</p>
	
	<div id="jqte-editor"></div>

	<script type="text/javascript">
		$("#jqte-editor").jqte();
	</script>

	<p>
		<button type="submit" name="commit" value="Create Post" class="normal" style="float:right">I said something</button>
	</p>
<% end %>