<% if @post.errors.any? %>
  <div class="errors">
    <p class="title">whoops</p>
    <ul class="errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>  
<% end %>

<h3 class="page-title">driftMap</h3>

<div id="post-form-container" class="drift-map-instructions">
  <%= form_for @post, html: { multipart: true } do |f| %>
    <%= f.hidden_field :init_x %>
    <%= f.hidden_field :init_y %>
    <%= f.hidden_field :init_zoom %>

    <div id="menu-container">
      <!-- tabs -->
      <div class="tabs-container ">
        <ul class="tabs-menu">
          <li data-step="title" class="active-tab col-md-3 wizard-table">title</li>
          <li data-step="body" class="col-md-3 wizard-table">body</li>
          <li data-step="markers" class="col-md-3 wizard-table">blips</li>
          <li data-step="routes" class="col-md-3 wizard-table">routes</li>
        </ul>
      </div>

      <!-- menu-body -->
      <div class="menu-body-container col-lg-8">
        <!-- Step 1 Title -->
        <div class="title-container">
          <div class="wizard-title wizard-step">
            <p class="instructions">give your driftMap a catchy title</p>
            <%= f.text_field :title %>
          </div>
        </div>

        <!-- Step 2 description -->
        <div class="body-container">
          <div class="wizard-body wizard-step hidden" >
            <p class="instructions">sum up your driftMap in 10 words</p>
            <div class="action-body">
              <%= f.text_area :body, id: 'driftmap-body' %>
            </div>
          </div>
        </div>

        <!-- Step 3 blips -->
        <div class="markers-container">
          <div class="wizard-markers wizard-step hidden">
            <p class="instructions-title">click anywhere on the map to add a blip.</p>
            <p></p>
          </div>
        </div>

        <!-- Step 4 routes -->
        <div class="routes-container">
          <div class="wizard-routes wizard-step hidden">
            <p class="instructions-title">Routes</p>
          </div>
        </div>        
      </div>

      <div class="submit-span col-lg-4">
        <span type="submit" class="normal save-wizard">save</span>
      </div>

    </div>
  <% end %>
</div>

<div id="edit-driftmap-container">
  <!-- driftmap -->
  <div id="map"></div>

  <%= render 'driftmap/init_driftmap' %>

  <script type="text/javascript">
    var blipIndex = -1;
    window.map.on('click', function(e){
      add_blip(window.map, e, ++blipIndex)
    });

    // Change menu tab
    $('.tabs-menu li').on('click', function(){
      $('.active-tab').removeClass('active-tab');
      var tab = $(this).data('step');
      $(this).addClass('active-tab');

      $('.wizard-step').addClass('hidden');
      $('.wizard-'+tab).removeClass('hidden');    
    });

    // Submit form
    $('span.save-wizard').on('click', function(){
      var init_x = window.map.getCenter().lat;
      var init_y = window.map.getCenter().lng;
      var zoom   = window.map.getZoom();
    
      // Post attrs
      $('#post_init_x').val(init_x);
      $('#post_init_y').val(init_y);
      $('#post_init_zoom').val(zoom);

      $('#post-form-container form').submit();
    });

    // Cannot upload images larger than 3M
    $('#post_picture').on('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 3){
        alert('Maximum file size is 3MB. Please choose a smaller file.');
        return false;
      }
    });
  </script>
</div>