<% if @post.errors.any? %>
  <div class="errors">
    <p class="title">whoops</p>
    <ul class="errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>  
<% end %>

<h3 class="page-title">driftMap</h3>

<div class="step-3-slide" id="now-map-container">
  <!-- driftmap -->
  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div id="post-map"></div>
  </div>

  <div class="drift-map-instructions col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <%= form_for @post, html: { multipart: true } do |f| %>
      <!-- Step 1 Title -->
      <div data-next="body" class="wizard-title wizard-step active-step">
        <p class="instructions">give your driftMap a catchy title</p>
        <div class="action-title details-open" >
          <p>Title</p>
          <%= f.text_field :title %>
        </div>
      </div>

      <!-- Step 2 description -->
      <div data-next="init" class="wizard-body wizard-step" >
        <p class="instructions">sum up your driftMap in 10 words</p>
        <div class="action-body">
          <p>description</p>
          <%= f.text_area :body, id: 'driftmap-body' %>
        </div>
      </div>

      <!-- Step 3 Init -->
      <div data-next="markers" class="wizard-init wizard-step" >
        <p class="instructions-title">drag and zoom your map to the location and zoom level you would like</p>
        <%= f.hidden_field :init_x %>
        <%= f.hidden_field :init_y %>
        <%= f.hidden_field :init_zoom %>
      </div>

      <div class="action-footer">
        <span class="next-step normal">next</span>
        <span type="submit" class="hidden normal save-wizard">save</span>
      </div>
    <% end %>