<% if @post.errors.any? %>
  <div class="errors">
    <p class="title">whoops</p>
    <ul class="errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>  
<% end %>

<div id="post-form-container" class="drift-map-instructions">
  <%#= form_for @post, html: { multipart: true } do |f| %>
    <%#= f.hidden_field :init_x %>
    <%#= f.hidden_field :init_y %>
    <%#= f.hidden_field :init_zoom %>

    <% if false %>

      <div id="menu-container">
        <!-- tabs -->
        <div class="tabs-container ">
          <ul class="tabs-menu">
            <li data-step="title" class="active-tab col-md-3 wizard-table">title</li>
            <li data-step="body" class="col-md-3 wizard-table">description</li>
            <li data-step="markers" class="col-md-3 wizard-table"><i class="fa fa-map-maker"></i>blips</li>
            <li data-step="routes" class="col-md-3 wizard-table">journeys</li>
          </ul>
        </div>

        <!-- menu-body -->
        <div class="menu-body-container col-lg-8">
          <!-- Step 1 Title -->
          <div class="title-container">
            <div class="wizard-title wizard-step">
              <p class="instructions">give your driftMap a catchy title</p>
              <%#= f.text_field :title %>
            </div>
          </div>

          <!-- Step 2 description -->
          <div class="body-container">
            <div class="wizard-body wizard-step hidden" >
              <p class="instructions">sum up your driftMap in 10 words</p>
              <div class="action-body">
                <%#= f.text_area :body, id: 'driftmap-body' %>
              </div>
            </div>
          </div>

          <!-- Step 3 blips -->
          <div class="markers-container">
            <div class="wizard-markers wizard-step hidden">
              <span class="normal create-blip">create blip</span>
              <p class="instructions-title">a blip is a moment in time on your map.  It can be a park, a tour, cafe, experience or anything you would like it to be.  you may give your radar blip(s) names, descriptions and image galleries.</p>
            </div>
          </div>

          <!-- Step 4 routes -->
          <div class="routes-container">
            <div class="wizard-routes wizard-step hidden">
              <p class="instructions-title">you can organize your map into journeys, tracking your progress around the globe, and associating a set of blips with a specific journey</p>
              <span class="normal create-route">create route</span>
              <textarea id="route_0_description" class="route-description" name="route[0][description]"></textarea>
            </div>
          </div>        
        </div>

        <div class="submit-span col-lg-4">
          <span type="submit" class="normal save-wizard">save &amp; finish</span>
        </div>

      </div>

    <% end %>
  <%# end %>
</div>

<div id="edit-driftmap-container">
  <div class="wizard-container">
    <div class="tab-container">
      <ul class="tabs-menu">
        <li data-step="title" class="active-tab wizard-table">title</li>
        <li data-step="body" class="wizard-table">description</li>
        <li data-step="routes" class="wizard-table">journeys</li>
        <li data-step="markers" class="wizard-table"></i>blips</li>
      </ul>

      <%= form_for @post, html: { multipart: true } do |f| %>
        <%= f.hidden_field :init_x %>
        <%= f.hidden_field :init_y %>
        <%= f.hidden_field :init_zoom %>

        <!-- Step 1 Title -->
        <div class="title-container wizard-step">
          <div class="wizard-title">
            <p class="instructions">give your driftMap a catchy title</p>
            <%= f.text_field :title %>
          </div>
        </div>

        <!-- Step 2 description -->
        <div class="body-container wizard-step hidden">
          <div class="wizard-body" >
            <p class="instructions">sum up your driftMap in 10 words</p>
            <div class="action-body">
              <%= f.text_area :body, id: 'driftmap-body' %>
            </div>
          </div>
        </div>

        <!-- Step 3 blips -->
        <div class="markers-container wizard-step hidden">
          <div class="wizard-markers">
            <span class="normal create-blip">create blip</span>
            <p class="instructions-title">a blip is a moment in time on your map.  It can be a park, a tour, cafe, experience or anything you would like it to be.  you may give your radar blip(s) names, descriptions and image galleries.</p>
          </div>
        </div>

        <!-- Step 4 routes -->
        <div class="routes-container wizard-step hidden">
          <div class="wizard-routes">
            <p class="instructions-title">you can organize your map into journeys, tracking your progress around the globe, and associating a set of blips with a specific journey</p>
            <span class="normal create-route">create route</span>
            <textarea id="route_0_description" class="route-description" name="route[0][description]"></textarea>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- driftmap -->
  <div id="map"></div>

  <%= render 'driftmap/init_driftmap' %>

  <script type="text/javascript">
    var blipIndex = -1;
    var routeIndex = -1;
    var routePointIndex = -1;
    var routePoints = [];
    
    // Add route to map
    $('.create-route').on('click', function(){
      routeIndex++;
      window.map.off('click').on('click', function(e){
        var lat = e.latlng.lat.toFixed(7);
        var lng = e.latlng.lng.toFixed(7);
        var newPoint = L.latLng(lat, lng)
        routePoints.push(newPoint);

        add_route(window.map, routeIndex, ++routePointIndex, routePoints);
      });
    });

    // Add blip to map
    $('.create-blip').on('click', function(){
      window.map.off('click').on('click', function(e){
        add_blip(window.map, e, ++blipIndex);
      });
    });

    // Change menu tab
    $('.tabs-menu li').on('click', function(){
      $('.active-tab').removeClass('active-tab');
      var tab = $(this).data('step');
      $(this).addClass('active-tab');

      $('.wizard-step').addClass('hidden');
      $('.'+ tab + '-container').removeClass('hidden');    
    });

    // Submit form
    $('span.save-wizard').on('click', function(){
      var init_x = window.map.getCenter().lat;
      var init_y = window.map.getCenter().lng;
      var zoom   = window.map.getZoom();
    
      // Post/DriftMap attrs
      $('#post_init_x').val(init_x);
      $('#post_init_y').val(init_y);
      $('#post_init_zoom').val(zoom);

      $('#post-form-container form').submit();
    });

    // Cannot upload images larger than 3M
    $('#post_picture').on('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 3){
        alert('Maximum file size is 3MB. Please choose a smaller file.');
        return false;
      }
    });
  </script>
</div>