<% if @post.errors.any? %>
  <div class="errors">
    <p class="title">whoops</p>
    <ul class="errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>  
<% end %>

<h3 class="page-title">driftMap</h3>

<div class="step-3-slide" id="now-map-container">
  <!-- driftmap -->
  <div id="post-map"></div>

  <script type="text/javascript">
    var driftmap = {
      init_x: '<%= @post.init_x %>',
      init_y: '<%= @post.init_y %>',
      init_zoom: '<%= @post.init_zoom %>',
    }

    var blips = [];

    <% @post.blips.each do |b| %>
      blips.push({
        x: '<%= b.x %>',
        y: '<%= b.y %>',
        title: '<%= b.title %>',
        body: '<%= b.body %>'
      });
    <% end %>

    init_map('post-map', driftmap, blips);
  </script>

  <div id="post-form-container" class="drift-map-instructions col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <%= form_for @post, html: { multipart: true } do |f| %>
      <%= f.hidden_field :init_x %>
      <%= f.hidden_field :init_y %>
      <%= f.hidden_field :init_zoom %>

      <div id="menu-container">
        <!-- tabs -->
        <div class="tabs-container ">
          <ul class="tabs-menu">
            <li data-step="title" class="active-tab col-md-3 wizard-table">title</li>
            <li data-step="body" class="col-md-3 wizard-table">body</li>
            <li data-step="markers" class="col-md-3 wizard-table">markers</li>
            <li data-step="routes" class="col-md-3 wizard-table">routes</li>
          </ul>
        </div>

        <!-- menu-body -->
        <div class="menu-body-container">
          <!-- Step 1 Title -->
          <div class="title-container">
            <div class="wizard-title wizard-step">
              <p class="instructions">give your driftMap a catchy title</p>
              <%= f.text_field :title %>
            </div>
          </div>

          <!-- Step 2 description -->
          <div class="body-container">
            <div class="wizard-body wizard-step hidden" >
              <p class="instructions">sum up your driftMap in 10 words</p>
              <div class="action-body">
                <%= f.text_area :body, id: 'driftmap-body' %>
              </div>
            </div>
          </div>

          <!-- Step 3 Markers -->
          <div class="markers-container">
            <div class="wizard-markers wizard-step hidden">
              <p class="instructions-title">Markers</p>
            </div>
          </div>

          <!-- Step 4 Markers -->
          <div class="routes-container">
            <div class="wizard-routes wizard-step hidden">
              <p class="instructions-title">Routes</p>
            </div>
          </div>

          <span type="submit" class="normal save-wizard">save</span>
          
        </div>
      </div>

    <% end %>
  </div>