<% if @post.errors.any? %>
  <div class="errors">
    <p class="title">whoops</p>
    <ul class="errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>  
<% end %>

<div id="edit-driftmap-container">
  <button class="toggle-wizard normal"><i class="fa fa-reorder"></i></button>

  <div class="wizard-container">
    <ul class="tabs-menu">
      <li data-step="routes" class="active-tab wizard-table" style="font-size:.88em;">journeys</li>
      <li data-step="title" class="wizard-table">title</li>
      <li data-step="body" class="wizard-table" style="font-size:.88em;line-height: 26px;">descrip- tion</li>
      <li data-step="markers" class="wizard-table"></i>blips</li>
    </ul>

    <div class="driftmap-form-container">
      <%= form_for @post, html: { multipart: true } do |f| %>
        <%= f.hidden_field :init_x %>
        <%= f.hidden_field :init_y %>
        <%= f.hidden_field :init_zoom %>

        <!-- Step 1 Title -->
        <div class="title-container wizard-step hidden">
          <div class="wizard-title">
            <p class="instructions-title">driftMap title</p>
            <%= f.text_field :title %>
            <p class="instructions-title" style="margin-top:15px;">you can also adjust the default location and zoom of your driftMap</p>
            <span class="normal update-zoom">set location</span>
          </div>
        </div>

        <!-- Step 2 description -->
        <div class="body-container wizard-step hidden">
          <div class="wizard-body" >
            <p class="instructions-title">driftMap description</p>
            <div class="action-body">
              <%= f.text_area :body, id: 'driftmap-body' %>
            </div>
          </div>
        </div>

        <!-- Step 4 routes -->
        <div class="routes-container wizard-step">
          <div class="wizard-routes">
            <ul>
              <% @post.routes.each_with_index do |route, i| %>
                <li class="route">
                  <p class="route-title" data-route="<%= route.id %>">
                    <%= route.title %>
                  </p>

                  <div class="route-info" data-route="<%= route.id %>" style="display:none;">
                    <p class="route-body" data-route="<%= route.id %>">
                      <%= route.description %><span class="edit-route" data-route="<%= route.id %>">- edit</span>
                    </p>
                  </div>
                  <span class="normal edit-save-route hidden" data-route="<%= route.id %>">save</span>
                </li>
              <% end %>
            </ul>

            <span class="normal create-new-route">create new route</span>

          </div>
        </div>
        
        <!-- Step 3 blips -->
        <div class="markers-container wizard-step hidden">
          <div class="wizard-markers">
            <span class="normal create-blip">create blip</span>
            <p class="instructions-title">a blip is a moment in time on your map.  It can be a park, a tour, cafe, experience or anything you would like it to be.  you may give your radar blip(s) names, descriptions and image galleries.</p>
          </div>
        </div>

        <span class="save-wizard normal">save driftMap</span>

      <% end %>
    </div>
  </div>

  <!-- driftmap -->
  <div id="map"></div>

  <%= render 'driftmap/init_driftmap' %>

  <span class="save-zoom normal hidden">save default view</span>
  <span class="save-route normal hidden">save route</span>
  <span class="save-wizard normal bottom">save driftMap</span>

  <script type="text/javascript">
    var blipIndex = -1;
    var routeIndex = -1;
    var routePointIndex = -1;
    var routePoints = [];
    
    // Routes
    // Step 1 - user clicks 'create new route' button
    $('.create-new-route').on('click', function(){
      $('.save-wizard').addClass('hidden');
      routeIndex++;
      $(this).addClass('hidden');
      route_inputs =  '<div class="new-route-inputs">' +
                        '<p class="route-title-edit" data-route="'+ routeIndex +'">' + 
                          '<input type="text" name="route['+ routeIndex +'][title]" value="my journey title" />' + 
                          '</p>' +
                          '<p class="route-body-edit" data-route="'+ routeIndex +'">' + 
                            '<textarea name="route['+ routeIndex +'][description]">my journey description</textarea>' +
                          '</p>' +
                          '<p>' +
                            '<span style="margin: 10px 0" class="plot-route normal">plot on map</span>' +
                          '</p>' +
                        '</div>';

      $(this).before(route_inputs);

      // Step 2 - User clicks 'plot of map'
      $('.plot-route.normal').on('click', function(){
        $(this).remove()
        $('.wizard-container').removeClass('active');
        $('#map').css('top', '0');
        $('.wizard-container, .save-route').toggleClass('hidden');
        routePoints = [];
        routePointIndex = -1;

        window.map.off('click').on('click', function(e){
          var lat = e.latlng.lat.toFixed(7);
          var lng = e.latlng.lng.toFixed(7);
          var newPoint = L.latLng(lat, lng);
          routePoints.push(newPoint);

          add_route(window.map, routeIndex, ++routePointIndex, routePoints);
        });
      });

      // Step 3 - User has written title/desc and plotted points on map, finally clicks save
      // Save route
      $('.save-route').on('click', function(){
        $('.save-wizard').removeClass('hidden');
        $('#map').css('top', '-310px')
        window.map.off('click');
        $('.wizard-container, .save-route').toggleClass('hidden');
        var new_route = '<li class="route">' + 
                          '<p class="route-title" data-route="'+ routeIndex +'">' + 
                            $('.route-title-edit[data-route="'+ routeIndex +'"] input').val() + 
                          '</p>' +
                          '<div class="route-info" data-route="'+ routeIndex +'" style="display:none;">' + 
                            '<p class="route-body" data-route="'+ routeIndex +'">' + 
                              $('.route-body-edit[data-route="'+ routeIndex +'"] textarea').val() +
                            '</p>' + 
                          '</div>' +
                        '</li>';
        $('.wizard-routes ul').append(new_route);
        $('.wizard-routes input, .wizard-routes textarea').addClass('hidden');
        alert("journey has been created and saved");
        $('.create-new-route').removeClass('hidden');

        // todo dry this:
        // reveal Route info
        $('p.route-title').on('click', function(){
          active = $(this).hasClass('active');
          route_index = $(this).data('route');

          if(active){
            $('.route-info[data-route="'+ route_index +'"]').slideUp(700);
            $(this).removeClass('active');
          } else {
            $('.route-info[data-route="'+ route_index +'"]').slideDown(700);
            $(this).addClass('active');
          }     
        });
      });

    });

    // Blips
    $('.create-blip').on('click', function(){
      window.map.off('click').on('click', function(e){
        add_blip(window.map, e, ++blipIndex);
      });
    });

    // Title/Default Location
    $('.update-zoom').on('click', function(){
      $('#map').css('top', '0');
      $('.wizard-container, .save-zoom').toggleClass('hidden');
    });

    // save location/zoom
    $('.save-zoom').on('click', function(){
      $('.wizard-container, .save-zoom').toggleClass('hidden');
      $('#map').css('top', '-310px');
      alert('location and zoom saved.');
      var init_x = window.map.getCenter().lat;
      var init_y = window.map.getCenter().lng;
      var zoom   = window.map.getZoom();
    
      // Post/DriftMap attrs
      $('#post_init_x').val(init_x);
      $('#post_init_y').val(init_y);
      $('#post_init_zoom').val(zoom);
    });

    /* Edit Driftmap */
    // Edit Route
    $('.edit-route').on('click', function(){
      index = $(this).data('route');

      var oldTitle = $.trim($('.route-title[data-route="'+ index +'"]').text());
      var oldBody = $.trim($('.route-body[data-route="'+ index +'"]').text().trim());
      var editTitleInput =  '<p class="route-title-edit" data-route="'+ index +'">' + 
                              '<input type="text" name="route['+ index +'][title]" value="'+ oldTitle +'"/>' +
                            '</p>';
      var editBodyTextarea =  '<p class="route-body-edit" data-route="'+ index +'">' +
                                '<textarea name="route['+ index +'][description]">'+ oldBody +'</textarea>' +
                              '</p>';

      $('.route-title[data-route="'+ index +'"]').after(editTitleInput);
      $('.route-body[data-route="'+ index +'"]').after(editBodyTextarea);

      selector = '.route-title[data-route="'+ index +'"], ' +
                 '.route-body[data-route="'+ index +'"], ' +
                 '.create-new-route, ' +
                 '.driftmap-form-container .save-wizard, ' + 
                 '.edit-save-route[data-route="'+ index +'"]';

      $(selector).toggleClass('hidden');
    });

    // Save an update to a route
    $('.edit-save-route').on('click', function(){
      index = $(this).data('route');
      title = $('.route-title-edit[data-route="'+ index +'"] input').val();
      body = $('.route-body-edit[data-route="'+ index +'"] textarea').val();

      $.ajax({
        url: '/update_route',
        type: 'POST',
        dataType: 'JSON',
        data: {
          id: index,
          title: title,
          body: body
        },
        complete: function(response){
          r = response.responseJSON;
          window.r = r;

          if(r.status == 200){
            var remove_selector = '.route-title-edit[data-route="'+ index +'"] input, ' + 
                                  '.route-body-edit[data-route="'+ index +'"] textarea, ' + 
                                  '.edit-route[data-route="'+ index +'"]';
            $(remove_selector).remove();
            $(selector).toggleClass('hidden');

            $('.route-title[data-route="'+ index +'"]').html(title);
            $('.route-body[data-route="'+ index +'"]').html(body);

            alert(r.title + " has been successfully updated.");
          } else {
            alert('Whoops, something went a little haywire, please refresh your browser and try again.');
          }
        }
      });
    });

    /* Misc Form/wizard actions */
    // toggle wizard
    $('.toggle-wizard').on('click', function(){
      if($('.wizard-container').hasClass('active')){
        $('.wizard-container').removeClass('active');
      } else {
        $('.wizard-container').addClass('active');
      }
    });

    // Change menu tab
    $('.tabs-menu li').on('click', function(){
      $('.active-tab').removeClass('active-tab');
      var tab = $(this).data('step');
      $(this).addClass('active-tab');

      $('.wizard-step').addClass('hidden');
      $('.'+ tab + '-container').removeClass('hidden');    
    });

    // Submit form
    $('.save-wizard').on('click', function(){
      $('.driftmap-form-container form').submit();
    });

    // reveal Route info
    $('p.route-title').on('click', function(){
      active = $(this).hasClass('active');
      route_index = $(this).data('route');

      if(active){
        $('.route-info[data-route="'+ route_index +'"]').slideUp(700);
        $(this).removeClass('active');
      } else {
        $('.route-info[data-route="'+ route_index +'"]').slideDown(700);
        $(this).addClass('active');
      }
    });

    // Cannot upload images larger than 3M
    $('#post_picture').on('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 3){
        alert('Maximum file size is 3MB. Please choose a smaller file.');
        return false;
      }
    });
  </script>
</div>