<% if @post.errors.any? %>
	<div class="errors">
		<p class="title">whoops</p>
		<ul class="errors-list">
			<% @post.errors.full_messages.each do |msg| %>
				<li><p><%= msg %></p></li>
			<% end %>
		</ul>
	</div>	
<% end %>

<%= form_for @post, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :title, :class => 'page-title' %>
		<%= f.text_field :title %>	
	</p>	

	<div class="clear-fix"></div>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.label 'upload image' %>
		<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
	</p>

	<p>
		<button type="submit" name="commit" value="Create Post" class="normal" style="float:right">done</button>
	</p>
		
	<script type="text/javascript">
		$('#post_picture').on('change', function() {
  		var size_in_megabytes = this.files[0].size/1024/1024;
  		if (size_in_megabytes > 3) {
    		alert('Maximum file size is 3MB. Please choose a smaller file.');
  		}
		});
	</script>
<% end %>