<h4>Posts</h4>

<% @user_posts.each do |post| %>
	
	<% if post.id? %>
		<div class="post-container" data-post-id="<%= post.id %>">
			<%= image_tag post.picture.url if post.picture? %>
			<li><p><%= post.title %></p></li>
			<li><p><%= post.body %></p></li>
			<li><p><%= post.user_id %></p></li><br>

			<% if current_user?( User.find(post.user_id) ) || admin_user %>
				<p>
					<%= link_to 'delete', post, method: :delete, data: { confirm: "Are you sure?" } %>
				</p>
			<% end %>
		</div>	
	<% end %>
<% end %>