<%= provide :title, @post.title %>
<div class="container">
	<article class="post col-lg-7 col-md-7 col-sm-12 col-xs-12">
		<h2><%= @post.title %></h2>

		<div class="post-container">
			<p class="post-body"><%= @post.body %></p>
			<h6>posted <%= time_ago_in_words(@post.created_at) %> ago. 
				<% if admin_user %>
					| <%= link_to 'edit', edit_post_path( @post ) %> | <%= link_to 'delete post', post_path( @post ), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</h6>
		</div>

		<div class="comments-container">	
			<h4>leave a comment</h4>
			<%= render @post.comments %>
			<%= render 'comments/form' %>
		</div>
	</article>

	<aside class="map col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
		<div id="postMap"></div>

		<script>
			var map = L.map('postMap').setView([40.73527, -73.89], 12);

			// TODO make this API key a Server environment variable
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18,
		    id: 'eozelius77.j4hekake',
		    accessToken: 'pk.eyJ1IjoiZW96ZWxpdXM3NyIsImEiOiJkQmhDSl8wIn0.MzOmrtAL3uTNmVfLmEZ57g'
		}).addTo(map);
		</script>
	</aside>
</div>