<h5>Show.html.erb</h5>

<p>title: <%= @post.title %><p>


<p>Submitted<%= time_ago_in_words(@post.created_at) %> ago. | <%= link_to 'edit', edit_post_path( @post ) %> | <%= link_to 'fuck this post', post_path( @post ), method: :delete, data: { confirm: 'Are you sure?' } %></p>


<p>Body: <%= @post.body %></p>


<div id="comments">
	<h3><%= pluralize( @post.comments.count, 'comment') %></h3>

	<p><%= render @post.comments %></p>

	<p><%= render 'comments/form' %></p>

</div>
