<!-- Routes -->
<% @routes.each_with_index do |route, index| %>
	<div class="route-content <%= 'hidden' if index != 0 %>" data-routecontent="<%= route.id %>">
		<h4 class="route-header"><%= route.title %></h4>
		<p class="route-description"><%= route.description %></p>
		<div id='dm-timeline-<%= index %>' style="width: 100%; height: 600px"></div>
	</div>
<% end %>