<% if !@routes.nil? %>
	<!-- waypoints List -->
	<div class="view-wizard-container">
		<h5 class="waypoints-title">journeys</h5>
		<div id="waypt-accord" class="panel-group markers-container wizard-step" role="tablist" aria-multiselectable="true">
			<% @routes.each_with_index do |route, index| %>
	  		<div class="panel panel-default">
	  			<div id="heading-<%= index %>" class="panel-heading" >
	  				<h4 class="panel-title">
	  					<a role="button" data-toggle="collapse" data-parent="#waypt-accord" href="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>" data-route="<%= index %>" class="route-switcher">
          			<%= route.title %>
        			</a>
	  				</h4>
	  			</div>

	  			<div id="collapse-<%= index %>" class="panel-collapse collapse <%= 'in' if index == 0 %>" role="tabpanel" aria-labelledby="heading-<%= index %>">
	  				<div class="panel-body">
	  					<% if route.blips.present? %>
	  						<ul class="waypoints-container">
	  							<% route.blips.order(:date).each_with_index do |blip, index| %>
	  								<li class="blip" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>" data-blipslide="<%= index %>" data-routeid="<%= route.id %>">
	  									<p class="blip-title"><%= blip.title %></p>
	  								</li>
			  					<% end %>							
	  						</ul>
	  					<% end %>							
						</div>
					</div>
				</div>
			<% end %>	  		

		  <% if user_is_home(@user) %>
		  	<p class="edit-delete-map">
		  		<%= link_to 'new journey', new_route_path %>
		  		<!-- <span style="
		  		color:#23527c; font-size:14px;"> | </span>  -->
		  		<%#= link_to 'new blip', new_blip_path %>
		  	</p>
		  <% end %>
	</div>

	<script type="text/javascript">
		/* Toggle a Route */
		$('.route-switcher').on('click', function(){
			var route_id = $(this).data('route');
			$('.route-content').addClass('hidden');
			$('#dm-timeline-' + route_id).removeClass('hidden').parent().removeClass('hidden');
		});

		/* when user clicks waypoint <li>, update map and timeline */
		$('.blip').on('click', function(){
		  if( $(this).data('blip') !== undefined){
		    for(var i in window.blipsIndexer)
		      window.blipsIndexer[i].marker.setIcon(window.blueMarker);
		    
		    var blipSlide = $(this).data('blipslide') + 1;
		    var blip_id = $(this).data('blip');
		    var route_id = $(this).data('routeid');
		    var myTimeline = getTimeline(route_id);
		    var blip = getBlip(blip_id);

		    if(blip){
					blip.popup.openOn(window.map);
					blip.marker.setIcon(window.maroonMarker);
			    wayPtShow(blip_id);
			    /* update timeline */
			    myTimeline.goTo(blipSlide);
		    }
		  }
		});
	</script>
<% end %>