<!-- waypoints List -->
<div class="view-wizard-container">
	<h5 class="waypoints-title">journeys</h5>
	<div class="markers-container wizard-step">
  	<% if !@routes.nil? %>
  		<ul class="waypoints-container">
    		<% @routes.each_with_index do |route, i| %>
					<li class="route-item-container" data-route="<%= route.id %>">
						<div class="route-item">
							<p class="route-title"><%= route.title %></p>
							<ul class="waypoint <%= 'hidden' if i != 0 %>">
								<% route.blips.each_with_index do |blip, x| %>
									<li class="blip <%= ' step-selected' if x == 0 %>" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>" data-blipslide="<%= x %>">
										<p class="blip-title"><%= blip.title %></p>
										<p class="route-stop-body <%= 'hidden' if x != 0 %>">
											<%= blip.body %>
										</p>
									</li>
								<% end %>
							</ul>
						</div>
					</li>
	  		<% end %>
  		</ul>
  	<% end %>
  </div>

  <% if user_is_home(@user) %>
  	<p class="edit-delete-map">
  		<%= link_to 'new journey', new_route_path %>
  		<!-- <span style="
  		color:#23527c; font-size:14px;"> | </span>  -->
  		<%#= link_to 'new blip', new_blip_path %>
  	</p>
  <% end %>
</div>

<script type="text/javascript">
	$('.route-item-container').on('click', function(){
		$('ul.waypoint').addClass('hidden');
		$(this).find('ul.waypoint').removeClass('hidden');
	});
</script>