<div id="route" class="edit-route">
	<div class="container">
		<div id="dm-content-container" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<h4 class="blip-title" style="color:#C2D9EB;font-size:2.5em;margin-bottom:35px;width: -moz-fit-content;">Edit <%= @route.title.html_safe %></h4>

			<%= form_for @route, html: { multipart: true } do |f| %>
				<div class="route-info">
					<!-- Journey Cover Photo -->
					<h4 class="blip-title">Journey Cover Photo</h4>
					<%= f.file_field :coverphoto, { style: 'margin-left:3%;' } %>

					<!-- Journey metadata -->
					<h4 class="blip-title">Journey Title</h4>
					<%= f.text_field :title, { style: 'margin-left:3%;' } %>

					<h4 class="blip-title">Journey Description</h4>
					<%= f.text_area :description %>
					<button class="normal add-route-stop" style="margin:3%">Add Blip</button>
				</div>
			<% end %>
		</div>

		<div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="map-container">
		  	<div id='map'></div>

			  <script type="text/javascript">
					var driftmap = {
						init_x: '<%= @post.init_x %>',
						init_y: '<%= @post.init_y %>',
						init_zoom: '<%= @post.init_zoom %>',
					}

			  	var blips = [];

			  	<% if @route.blips.any? %>
			  		<% @route.blips.each do |blip| %>
			  			var blipImages = [];
							
							<% blip.blip_images.each do |blip_image| %>
								blipImages.push('<%= image_tag(blip_image.image).html_safe %>')
							<% end %>

							blips.push({
								id:     "<%= blip.id %>",
								x:      "<%= blip.x %>",
								y:  		"<%= blip.y %>",
								title:  "<%= blip.title.to_json %>",
								body:   "<%= blip.body.to_json %>",
								images: blipImages
							});
			  		<% end %>
			  	<% end %>

			  	init_map('map', driftmap, blips);
			  </script>
			</div>
			<%= link_to @route, method: :delete, data: { confirm: "Are you Sure?" } do %>
				<span class="pull-right" style="margin: 2% 0 0; color:red" rel="nofollow" data-method="delete" data-confirm="Are you sure">delete</span>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">	
	$(document).ready(function(){
		/* Add a stop */
		$(".add-route-stop").on('click', function(){
			console.log("fuck")
		});
	});
</script>