<div id="route" class="new-route">

	<div class="container">
		<div id="dm-content-container" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<h4 class="blip-title">Create New Journey</h4>

			<p style="color:#C2D9EB; margin-left:3%">
				You can start your journey by choosing an existing blip you have created, by dragging and dropping the blip from the Blips list into the Journey stops list.
			</p>
		</div>

		<div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		  <div class="map-container">
		  <div id='map'></div>

		  <script type="text/javascript">
		  	var driftmap = {
		  	  init_x: 0.924206230200376,
		  	  init_y: -40.2400771379471,
		  	  init_zoom: 2,
		  	}

		  	var blips = [];

		  	init_map('map', driftmap, blips);
		  </script>
		</div>

	  <!-- Journey stops -->
	  <div class="view-wizard-container journey-stops">
	  	<!-- blips -->
	  	<div class="markers-container wizard-step">
	  	  <div class="wizard-markers">
	  	  	<ul>
	  	  		<li style="background-color:#e2e2e2" >
	  	  			<p style="text-align:center">Journey Stops</p>
	  	  		</li>
	  	  		<li class="blip">
	  	  			<p class="blip-title">
	  	  				<%= link_to 'brand new blip', new_blip_path %>
	  	  			</p>
	  	  		</li>
	  	  	</ul>
				</div>
			</div>
		</div>

		<!-- existing blips -->
		<div class="view-wizard-container existing-blips">
			<div class="markers-container wizard-step">
				<div class="wizard-markers">
					<ul>
						<li style="background-color:#e2e2e2" >
							<p style="text-align:center">Existing Blips</p>
						</li>
						<% @user.post.blips.each do |blip| %>
							<li class="blip" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>">
								<p class="blip-title">
									<%= blip.title %>
								</p>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>