<div id="route" class="route-show">
	<div class="container">
		<div id="dm-content-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<!-- Route timeline -->
			<div class="route-content">
				<h4 class="route-header"><%= @route.title %></h4>
				<p class="route-description"><%= @route.description %></p>

				<div id='dm-timeline' style="width: 100%; height: 600px"></div>
			</div>
		</div>

		<div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
			<div class="map-container">
				<div id='map'></div>
			</div>

			<!-- Waypoints List -->
			<div class="view-wizard-container">
				<h5>waypoints</h5>
				<div class="markers-container wizard-step">
				  <div class="wizard-markers">
			      <ul>
			        <% @blips.each_with_index do |blip, index| %>
			          <li class="blip" data-blip="<%= blip.id %>" data-initx="<%= blip.x %>" data-inity="<%= blip.y %>" data-blipslide="<%= index %>">
			            <p class="blip-title">
			              <%= blip.title %>
	                  <% if user_is_home(@user) %>
	              			<%= link_to '<span style="font-style:italic;font-size:.8em;"> - edit</span>'.html_safe, edit_blip_path(blip) %>
	              		<% end %>
			            </p>
			            <p class="route-stop-body <%= 'hidden' if index != 0 %>">
			            	<%= blip.body %>
			            </p>
			          </li>
			        <% end %>
			      </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/* Leaflet Map */
	var driftmap = {
		init_x: '<%= @post.init_x %>',
		init_y: '<%= @post.init_y %>',
		init_zoom: 6,
	}

	var blips = [];
	<% @blips.each do |blip| %>
		var blipImages = [];
		<% blip.blip_images.each do |blip_image| %>
			blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
		<% end %>

		blips.push({
			id: 		"<%= blip.id %>",
			x: 			"<%= blip.x %>",
			y: 			"<%= blip.y %>",
			title: 	"<%= blip.title.to_json %>",
			body: 	"<%= blip.body.to_json %>",
			images: blipImages
		})

	<% end %>

	init_map('map', driftmap, blips);
	/* End Leaflet Map */

	/* TimelineJS */
	<% if @route.coverphoto.present? %>
		var blip_cover_image = '<%= image_path(@route.coverphoto).html_safe %>';
	<% else %>
		var blip_cover_image = '<%= image_path(switzerland10.JPG).html_safe %>';
	<% end %>

	var events = [];
	<% @route.blips.each do |blip| %>
		events.push({
			"media": {
				url: '',
				caption: ''
			},
			start_date: {
				month: '<%= blip.date.month %>',
				day: '<%= blip.date.day %>',
				year: '<%= blip.date.year %>'
			},
			text: {
				headline: "<%= blip.title %>",
				text: "<%= blip.body %>"
			}
		});
	<% end %>

	var timeLineData = {
	  title: {
	    media: {
	      url: blip_cover_image,
	      caption: ""
	    },
	    text: {
	      headline: "",
	      text: ""
	    }
	  },
	  events: events
	}

	var dmOptions = { timenav_height: 180 }	
	init_timeline(timeLineData, dmOptions );
</script>