<div id="route" class="route-show">
	<div class="container">
		<div id="dm-content-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<div class="route-content">
				<h4 class="route-header"><%= @route.title %></h4>
				<p class="route-description"><%= @route.description %></p>
				<div id='dm-timeline-0' style="width: 100%; height: 600px"></div>
			</div>
		</div>

		<div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
			<div class="map-container">
				<div id='map'></div>
			</div>

			<% if user_is_home(@user) %>
			  	<p class="edit-delete-map">
			  		<%= link_to 'new journey', new_route_path %>
			  		<!-- <span style="
			  		color:#23527c; font-size:14px;"> | </span>  -->
			  		<%#= link_to 'new blip', new_blip_path %>
			  	</p>
			  <% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/* Leaflet Map */
	var driftmap = {
		init_x: '<%= @post.init_x %>',
		init_y: '<%= @post.init_y %>',
		init_zoom: 6,
	}

	var blips = [];
	<% @blips.each do |blip| %>
		var blipImages = [];
		<% blip.blip_images.each do |blip_image| %>
			blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
		<% end %>

		blips.push({
			id: 		"<%= blip.id %>",
			x: 			"<%= blip.x %>",
			y: 			"<%= blip.y %>",
			title: 	"<%= blip.title.to_json %>",
			body: 	"<%= blip.body.to_json %>",
			images: blipImages
		});
	<% end %>

	init_map('map', driftmap, blips);
	/* End Leaflet Map */

	/* TimelineJS */
	<% if @route.coverphoto.present? %>
		var blip_cover_image = '<%= image_path(@route.coverphoto).html_safe %>';
	<% else %>
		var blip_cover_image = '<%= image_path(switzerland10.JPG).html_safe %>';
	<% end %>

	var events = [];
	<% @route.blips.order(:date).each do |blip| %>
		events.push({
			"media": {
				url: '',
				caption: ''
			},
			start_date: {
				month: '<%= blip.date.month %>',
				day: '<%= blip.date.day %>',
				year: '<%= blip.date.year %>'
			},
			text: {
				headline: "<%= blip.title %>",
				text: "<%= blip.body %>"
			}
		});
	<% end %>

	var timeLineData = {
	  title: {
	    media: {
	      url: blip_cover_image,
	      caption: ""
	    },
	    text: {
	      headline: "",
	      text: ""
	    }
	  },
	  events: events
	}

	var dmOptions = { timenav_height: 180 }	
	init_timeline('dm-timeline-0', timeLineData, dmOptions );

	/* Generic Dom Functions */
	$('.route-item-container').on('click', function(){
		$('ul.waypoint').addClass('hidden');
		$(this).find('ul.waypoint').removeClass('hidden');
	});

	/* when user clicks waypoint <li>, update map and timeline */
	$('.blip').on('click', function(){
	  if( $(this).data('blip') !== undefined){
	  	// $('.step-selected').removeClass('step-selected');
	  	// $(this).addClass('step-selected');

	    for(var i in window.blipsIndexer)
	      window.blipsIndexer[i].marker.setIcon(window.blueMarker);
	    
	    var blipSlide = $(this).data('blipslide') + 1;
	    var id = $(this).data('blip');

	    var blip = getBlip(id);
	    if(blip){
				blip.popup.openOn(window.map);
				blip.marker.setIcon(window.maroonMarker);
		    wayPtShow(id);
		    /* update timeline */
		    timeline.goTo(blipSlide);
	    }
	  }
	});
</script>