<div id="route" class="route-show">
	<div class="container">
		<div id="dm-content-container" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="route-content">
				<div id='dm-timeline' style="width: 100%; height: 600px"></div>
				<script type="text/javascript">
					var events = [];

					<% if @route.blips.first.blip_images.any? %>
						var blip_cover_image = '<%= image_path(@route.blips.first.blip_images.first.image).html_safe %>';
					<% else %>
						var blip_cover_image = '<%= image_path(switzerland10.JPG).html_safe %>';
					<% end %>

					<% @route.blips.each do |blip| %>
						events.push({
							"media": {
								url: blip_cover_image,
								caption: 'image caption...'
							},
							start_date: {
								month: '<%= blip.date.month %>',
								day: '<%= blip.date.day %>',
								year: '<%= blip.date.year %>'
							},
							text: {
								headline: "<%= blip.title %>",
								text: "<%= blip.body %>"
							}
						});
					<% end %>

					var dmJson = {
					  title: {
					    media: {
					      url: '<%= image_path(@route.blips.first.blip_images.second.image).html_safe %>',
					      caption: "<%= @route.title %>"
					    },
					    text: {
					      headline: "<%= @route.title %>",
					      text: "<%= @route.description %>"
					    }
					  },
					  events: events
					}
				  timeline = new TL.Timeline('dm-timeline', dmJson);
				</script>
			</div>
		</div>

		<div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="map-container">
				<div id='map'></div>
				<script type="text/javascript">
					var driftmap = {
						init_x: '<%= @post.init_x %>',
						init_y: '<%= @post.init_y %>',
						init_zoom: '<%= @post.init_zoom %>',
					}

					var blips = [];

					<% @blips.each do |blip| %>
						var blipImages = [];
						<% blip.blip_images.each do |blip_image| %>
							blipImages.push('<%= image_tag(blip_image.image).html_safe %>');
						<% end %>

						blips.push({
							id: 	"<%= blip.id %>",
							x: 		"<%= blip.x %>",
							y: 		"<%= blip.y %>",
							title: 	"<%= blip.title.to_json %>",
							body: 	"<%= blip.body.to_json %>",
							images: blipImages
						})

					<% end %>

					//init_map('map', driftmap, blips, routes)
					init_map('map', driftmap, blips)
				</script>
			</div>
		</div>
	</div>

	<hr class="gray-spacer" style="margin-top:0"></hr>

	<div class="container">
		<% @blips.each_with_index do |blip, index| %>
			<div class="blip-content <%= 'hidden' if index != 0 %>" data-blip="<%= blip.id %>">
				<!-- blip carousel -->
				<% if blip.blip_images.any? %>
				  <div id="images-carousel" class="carousel slide" data-ride="carousel">
				    <!-- Blip Photos -->
				    <div class="carousel-inner" role="listbox">
				      <% blip.blip_images.each_with_index do |image, i| %>
				        <div class="item <%= 'active' if i == 0 %>">
				          <%= image_tag image.image %>
				        </div>
				      <% end %>
				    </div>

				    <% if blip.blip_images.count > 1 %>
				    	<!-- Indicators -->
				    	<ol class="carousel-indicators">
				    	  <% blip.blip_images.count.times do |b| %>
				    	    <li data-target="#images-carousel" data-slide-to="<%= b %>"></li>
				    	  <% end %>
				    	  <script type="text/javascript">
				    	    $('li[data-target="#images-carousel"]').first().addClass('active')
				    	  </script>
				    	</ol>

					    <!-- Controls -->
					    <a class="left carousel-control" href="#images-carousel" role="button" data-slide="prev">
					      <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
					      <span class="sr-only">Previous</span>
					    </a>
					    <a class="right carousel-control" href="#images-carousel" role="button" data-slide="next">
					      <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
					      <span class="sr-only">Next</span>
					    </a>
					  <% end %>
				  </div><!-- end carousel -->
				<% end %>
			</div>
		<% end %>
	</div>
</div>