<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>
  <body>
    <% if flash.any? %>
      <% flash.each do |msgtype, msg| %>
        <div class="flash-messages flash-<%= msgtype %> col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="flash"><%= msg %></p>
        </div>
      <% end %>
    <% end %>
      
    <!-- side Navigation -->
    <nav id="main">
      <ul>
        <li>
          <%= link_to root_url do %>
            <i class="fa fa-3x fa-globe"></i>
            <p class="nav-legend">Home</p>
          <% end %>
        </li>
       
        <% if logged_in? %>
          <li>
            <%= link_to edit_user_path(current_user) do %>
              <i class="fa fa-3x fa-cogs"></i>
              <p class="nav-legend">Settings</p>
            <% end %>
          </li>
          <li>
            <%= link_to(logout_path, method: :delete) do %>
              <i class="fa fa-3x fa-sign-out"></i>
              <p class="nav-legend">Log out</p>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to(login_path) do %>
              <i class="fa fa-3x fa-key fa-rotate-180"></i>
              <p class="nav-legend">Log in</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="application-container">
      <div id="page-wrapper">
        <%= yield %>
      </div>  
    </div>
  </body>
</html>
