<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>
  <body>

    <!-- side Navigation -->
    <nav id="main">
      <ul>
        <li>
          <a href="/">
            <i class="fa fa-3x fa-globe"></i>
            <p class="nav-legend">Home</p>
          </a>
        </li>
        <li>
          <a href="/blog">
            <i class="fa fa-3x fa-pencil"></i>
            <p class="nav-legend">Blog</p>
          </a>
        </li>
        <li>
          <a href="/photo">
            <i class="fa fa-3x fa-camera-retro"></i>
            <p class="nav-legend">Photos</p>
          </a>
        </li>
        <li>
          <a href="/code">
            <i class="fa fa-3x fa-code"></i>
            <p class="nav-legend">Blog</p>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>  
  </body>
</html>